---
title: Bropheniramine Reminder Alarm
category: My Medication
color: yellow
---


{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
        <div class="ph--content ">
          <div class="ph--content-inner">
            <form action="">
              <ul class="ph--form ph--form_vertical list-unstyled">
                <li>
                  <div class="form-group">
                    <select class="selectpicker btn-block" title="Number of Alarms Daily" data-style="ph--input text-center">
                      <option value="1">Alarm: 1 x Daily</option>
                      <option value="2">Alarm: 2 x Daily</option>
                      <option value="3">Alarm: 3 x Daily</option>
                      <option value="4">Alarm: 4 x Daily</option>
                      <option value="5">Alarm: 5 x Daily</option>
                    </select>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
    </div>
  </div>
</main>
{{> innerFooter}}