---
title: Bropheniramine Reminder Alarm
category: My Medication
color: yellow
---
 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content ">
        <div class="ph--content-inner">
          <form action="">
            <ul class="ph--form ph--form_vertical list-unstyled">
              <li>
                <div class="form-group">
                  <select class="selectpicker btn-block" title="Number of Alarms Daily" data-style="ph--input text-center">
                    <option value="1">Alarm: 1 x Daily</option>
                    <option value="2" selected>Alarm: 2 x Daily</option>
                    <option value="3">Alarm: 3 x Daily</option>
                    <option value="4">Alarm: 4 x Daily</option>
                    <option value="5">Alarm: 5 x Daily</option>
                  </select>
                  <div class="ph--alarms">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-ph btn-ph_blue " type="button"><span class="svg" data-svg="icon-clock"></span></button>
                        </span>
                        <input type="text" class="form-control ph--input datetimepicker" data-format="LT" placeholder="Enter Time 1">
                      </div>
                      <!-- /input-group -->
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-ph btn-ph_blue" type="button"><span class="svg" data-svg="icon-clock"></span></button>
                        </span>
                        <input type="text" class="form-control ph--input datetimepicker" data-format="LT" placeholder="Enter Time 2">
                      </div>
                      <!-- /input-group -->
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Set Reminder Alarms</button>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Clear These Alarms</button>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
