---
title: Edit Medication
category: My Medication
color: yellow
---

{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content">
        <div class="ph--content-inner">
          <form action="">
            <ul class="ph--form ph--form_vertical list-unstyled">
              <li>
                <input type="text" class="form-control ph--input btn-block text-center" placeholder="Name of Medication" value="Brompheniramine">
              </li>
              <li>
                <input type="text" class="form-control ph--input btn-block text-center" placeholder="Dosage" value="20 mg Tablet">
              </li>
              <li>
                <input type="text" class="form-control ph--input btn-block text-center" placeholder="Frequency of Use" value="Daily">
              </li>
              <li>
                <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add Medication to List</a>
              </li>
              <li>
                <a href="/" class="btn-ph btn-ph_blue btn btn-block">Scan Product Bar Code</a>
              </li>
              <li>
                <a href="/" class="btn-ph btn-ph_blue btn btn-block">Set Reminder Alarm</a>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
