---
title: A List of Your Current Medications
category: My Medication
color: yellow
---


{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
        <div class="ph--content">
            <div class="ph--content-inner shadow_small shadow_small-after">
                <ul class="ph--form ph--form_vertical list-unstyled">
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add Medication to List</a>
                    </li>
                </ul>
            </div>
            <ul class="ph--medication-list list-unstyled shadow_small">
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Brompheniramine
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Cinacalcet
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Hydrochlorothiazide 
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Oxymetazoline
                    </a>
                    
                </li>
            </ul>
        </div>
    </div>
  </div>
</main>
{{> innerFooter}}