---
title: What Drug Would
subTitle: You Like to Check?
category: Check Medication
color: yellow
size: big
---
 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
      <div class="ph--content">
        <form action="">
          <div class="ph--content-inner shadow_small">
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                   <div class="input-group">
                    <input type="text" class="form-control ph--input typeahead" data-source="drugs" placeholder="Enter Drug Name">
                    <span class="input-group-btn">
                        <button class="btn btn-ph btn-ph_blue" type="button">Go</button>
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Or Scan Bar Code</button>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Or Enter NDC Code</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
  </div>
  
</main>