---
subTitle: Ibuprofen 330 Mg
category: Check Medication
color: yellow
size: big
---
 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled position position_center-XY">
      <div class="ph--content ">
        <div class="ph--video-container">
          <video autoplay="autoplay" loop="loop" class="ph--process">
            <source src="/video/processing.mp4" type="video/mp4;"  />
            Video not supported
          </video>
        </div>
      </div>
  </div>
</main>