---
title: Ibuprofen Compatibility
category: Check Medication
color: yellow
---
{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
        <div class="ph--content">
            <ul class="ph--compitability list-unstyled">
                <li class="ph--compitability-cell">
                    <a href="/" class="ph--compitability-item ph--compitability-item_fear">
                        <div class="ph--compitability-icon">
                            <span class="svg" data-svg="icon-smile-fear"></span>
                        </div>
                        <div class="ph--compitability-descr">
                            Drug to Gene: <br>
                            Severe Conflict
                        </div>
                        <span class="ph--compitability-next">
                            <i class="svg" data-svg="icon-play"></i>
                        </span>
                    </a>
                </li>
                <li class="ph--compitability-cell">
                    <a href="/" class="ph--compitability-item ph--compitability-item_sad">
                        <div class="ph--compitability-icon">
                            <span class="svg" data-svg="icon-smile-sad"></span>
                        </div>
                        <div class="ph--compitability-descr">
                            Drug to Drug: <br>
                            Moderate Conflict
                        </div>
                        <span class="ph--compitability-next">
                            <i class="svg" data-svg="icon-play"></i>
                        </span>
                    </a>
                </li>
                <li class="ph--compitability-cell">
                    <a href="/" class="ph--compitability-item ph--compitability-item_happy">
                        <div class="ph--compitability-icon">
                            <span class="svg" data-svg="icon-smile-happy"></span>
                        </div>
                        <div class="ph--compitability-descr">
                            Drug to Ilness:<br>
                            Low Conflict
                        </div>
                        <span class="ph--compitability-next">
                            <i class="svg" data-svg="icon-play"></i>
                        </span>
                    </a>
                </li>
                <li class="ph--compitability-cell">
                    <a href="/" class="ph--compitability-item ph--compitability-item_excited">
                        <div class="ph--compitability-icon">
                            <span class="svg" data-svg="icon-smile-excited"></span>
                        </div>
                        <div class="ph--compitability-descr">
                            Drug to Lifestyle:<br>
                            No Conflict
                        </div>
                        <span class="ph--compitability-next">
                            <i class="svg" data-svg="icon-play"></i>
                        </span>
                    </a>
                </li>
                <li class="ph--compitability-cell">
                    <a href="/" class="ph--compitability-item ph--compitability-item_excited">
                        <div class="ph--compitability-icon">
                            <span class="svg" data-svg="icon-smile-excited"></span>
                        </div>
                        <div class="ph--compitability-descr">
                            Drug to Allergies: <br>
                            Good
                        </div>
                        <span class="ph--compitability-next">
                            <i class="svg" data-svg="icon-play"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
  </div>
</main>
{{> innerFooter}}