<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 653.46 67.22">
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <g>
            <path d="M59.35,60.3V26a6.14,6.14,0,0,1,6.55-6.18h0a7,7,0,0,1,6.55,6.91V61a6.14,6.14,0,0,1-6.55,6.18h0A7,7,0,0,1,59.35,60.3Z" fill="#e64b9b"/>
            <path d="M29.68,60.3V6.19A6.14,6.14,0,0,1,36.22,0h0a7,7,0,0,1,6.55,6.91V61a6.14,6.14,0,0,1-6.55,6.18h0A7,7,0,0,1,29.68,60.3Z" fill="#f2653d"/>
            <path d="M0,60.3V38.14A6.14,6.14,0,0,1,6.55,32h0a7,7,0,0,1,6.55,6.91V61a6.14,6.14,0,0,1-6.55,6.18h0A7,7,0,0,1,0,60.3Z" fill="#febc11"/>
          </g>
          <g>
            <path d="M108.9,23h22.23c6.35,0,12.41,3.18,12.41,11.89,0,7.8-5.14,12-14.32,12H113.17V64.22H108.9Zm4.27,20h16.51c7.16,0,9.24-3.29,9.24-8.08,0-6.18-3.46-8-8.37-8H113.17Z" fill="#fff"/>
            <path d="M160.58,23h4.27V40.43h29.79V23h4.27V64.22h-4.27V44.36H164.85V64.22h-4.27Z" fill="#fff"/>
            <path d="M246,51.69H224.32l-5.6,12.53H214.1L232.81,23h5l18.71,41.23h-5Zm-10.8-24.42-9.18,20.5H244.3Z" fill="#fff"/>
            <path d="M272.37,23h22.46c7,0,13.4,2.48,13.4,11.14a10.05,10.05,0,0,1-8.08,10v.12c5.83.92,7,4.68,7.33,11.43.11,2.6.46,7.62,1.44,8.54h-4.62c-.75-.87-1-3.93-1.1-8.43-.12-7.28-2.89-9.7-10-9.7H276.64V64.22h-4.27Zm4.27,19.17h18.07c4.68,0,8.89-1.73,8.89-8,0-6.06-4.56-7.22-8.49-7.22H276.64Z" fill="#fff"/>
            <path d="M369.14,23h6.06V64.22h-4.27V28.6h-.12L352.63,64.22H348.7L330.57,28.54h-.12V64.22h-4.27V23h6.24l18.36,35.86Z" fill="#fff"/>
            <path d="M422.32,51.69H400.61L395,64.22h-4.62L409.1,23h5l18.71,41.23h-5Zm-10.8-24.42-9.18,20.5h18.25Z" fill="#fff"/>
            <path d="M444.43,60.29,475,26.92H446.4V23h34.41v3.92L450,60.29h31.24v3.93H444.43Z" fill="#fff"/>
            <path d="M524.87,51.69H503.16l-5.6,12.53h-4.62L511.65,23h5l18.71,41.23h-5Zm-10.8-24.42-9.18,20.5h18.25Z" fill="#fff"/>
            <path d="M593.46,23h6.06V64.22h-4.27V28.6h-.12L577,64.22H573L554.89,28.54h-.12V64.22h-4.27V23h6.24L575.1,58.85Z" fill="#fff"/>
          </g>
        </g>
        <g>
          <path d="M628,9.18h10.07v1.11h-4.39V23h-1.31V10.29H628Z" fill="#a1aad2"/>
          <path d="M640.44,23V9.18h2L647,21.38h0l4.46-12.2h2V23h-1.31V10.68h0L647.57,23h-1.23l-4.55-12.34h0V23Z" fill="#a1aad2"/>
        </g>
      </g>
    </g>
  </g>
</svg>
