<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.97 50.54">
  <title>icon-Ресурс 3</title>
  <g style="isolation: isolate">
    <g id="Слой_2" data-name="Слой 2">
      <g id="Layer_1" data-name="Layer 1">
        <polygon points="36.49 0 0 22.97 8.9 21.99 8.9 50.54 30.61 50.54 30.61 32.88 42.36 32.88 42.36 50.54 64.07 50.54 64.07 21.99 72.97 22.97 36.49 0" fill="#c3c9e3" style="mix-blend-mode: multiply"/>
      </g>
    </g>
  </g>
</svg>
