<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.05 106.16">
  <title>icon-Ресурс 27</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <path d="M32.2,20.52H5.86A5.66,5.66,0,0,0,0,25.91V64.37H1.41a5.66,5.66,0,0,1,5.86,5.39l2.25,36.4H27.78l3-36.4a5.66,5.66,0,0,1,5.86-5.39h1.41V25.91A5.66,5.66,0,0,0,32.2,20.52Z" fill="#fff"/>
      <path d="M18,16h2a5.72,5.72,0,0,0,5.86-5.54V5.54A5.72,5.72,0,0,0,20,0H18a5.72,5.72,0,0,0-5.86,5.54v4.92A5.72,5.72,0,0,0,18,16Z" fill="#fff"/>
    </g>
  </g>
</svg>
