<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.05 115.53">
  <title>icon-Ресурс 11</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <g opacity="0.66">
            <path d="M71,68.47c-27.24,0-51.19-4.64-65.09-11.65A4,4,0,0,0,.14,61.39a73.48,73.48,0,0,0,141.77,0,4,4,0,0,0-5.79-4.58C122.22,63.83,98.26,68.47,71,68.47Z" fill="#231f20"/>
          </g>
          <path d="M71,115.53a73.31,73.31,0,0,0,40.62-12.21C106.49,93.6,90.27,86.49,71,86.49S35.56,93.6,30.41,103.32A73.31,73.31,0,0,0,71,115.53Z" fill="#44ab11" opacity="0.35"/>
          <path d="M18.66,66.16a21,21,0,0,0,10.12,18A81.88,81.88,0,0,0,71,95.58a81.88,81.88,0,0,0,42.24-11.42,21,21,0,0,0,10.12-18h0C109.57,70.33,91.2,72.88,71,72.88s-38.54-2.55-52.36-6.72Z" fill="#fff"/>
        </g>
        <g>
          <g>
            <ellipse cx="41.73" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
            <ellipse cx="100.32" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="45.72" cy="28.9" rx="8.74" ry="10.85" fill="#231f20" opacity="0.75"/>
            <ellipse cx="43.77" cy="23.84" rx="2.9" ry="2.88" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="96.71" cy="28.9" rx="8.74" ry="10.85" fill="#231f20" opacity="0.75"/>
            <ellipse cx="94.28" cy="23.84" rx="2.9" ry="2.88" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
