<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.43 105.43">
  <title>icon-Ресурс 20</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <path d="M38.19,1.28,98.28,61.37,61.37,98.28,1.28,38.19a14,14,0,0,0,2.78,15.7l47.48,47.48a14,14,0,0,0,19.68,0l30.14-30.14a14,14,0,0,0,0-19.68L53.89,4.06A14,14,0,0,0,38.19,1.28Z" fill="#fff"/>
          <path d="M41.33,11,11,41.33c-7.5-7.5-5.6-9.4,1.5-16.49L14,23.41A6.74,6.74,0,1,1,23.41,14l1.43-1.43C31.91,5.46,33.83,3.54,41.33,11ZM15.88,15.88a3.1,3.1,0,1,0,4.38,0A3.1,3.1,0,0,0,15.88,15.88Z" fill="#fff"/>
        </g>
        <rect x="15.38" y="36.27" width="35.74" height="4" transform="translate(-17.32 34.72) rotate(-45)" fill="#fff"/>
        <rect x="20.23" y="39.65" width="42.84" height="4" transform="translate(-17.25 41.65) rotate(-45)" fill="#fff"/>
        <rect x="27.16" y="48.05" width="35.74" height="4" transform="translate(-22.2 46.5) rotate(-45)" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
