<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.91 78.91">
  <title>icon-Ресурс 25</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <polygon points="75.91 24.72 54.2 24.72 54.2 3 24.72 3 24.72 24.72 3 24.72 3 54.2 24.72 54.2 24.72 75.91 54.2 75.91 54.2 54.2 75.91 54.2 75.91 24.72" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="6"/>
    </g>
  </g>
</svg>
