<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115.44 84.61">
  <title>icon-Ресурс 14</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <g>
            <ellipse cx="28.43" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
            <ellipse cx="87.02" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="32.41" cy="28.9" rx="5.64" ry="7" fill="#231f20" opacity="0.75"/>
            <ellipse cx="31.16" cy="25.64" rx="1.87" ry="1.86" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="83.41" cy="28.9" rx="8.74" ry="10.85" fill="#231f20" opacity="0.75"/>
            <ellipse cx="80.98" cy="23.84" rx="2.9" ry="2.88" fill="#fff"/>
          </g>
        </g>
        <path d="M4.57,75.13A12,12,0,0,0,0,84.61H0C14.17,74,34.76,67.35,57.72,67.35S101.27,74,115.44,84.61h0a12,12,0,0,0-4.57-9.48C97,64.25,78.32,57.56,57.72,57.56S18.43,64.25,4.57,75.13Z" fill="#231f20" opacity="0.66"/>
      </g>
    </g>
  </g>
</svg>
