<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.43 105.43">
  <title>icon-Ресурс 18</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <path d="M38.19,1.28,98.28,61.37,61.37,98.28,1.28,38.19a14,14,0,0,0,2.78,15.7l47.48,47.48a14,14,0,0,0,19.68,0l30.14-30.14a14,14,0,0,0,0-19.68L53.89,4.06A14,14,0,0,0,38.19,1.28Z" fill="#fff"/>
          <path d="M41.33,11,11,41.33c-7.5-7.5-5.6-9.4,1.5-16.49L14,23.41A6.74,6.74,0,1,1,23.41,14l1.43-1.43C31.91,5.46,33.83,3.54,41.33,11ZM15.88,15.88a3.1,3.1,0,1,0,4.38,0A3.1,3.1,0,0,0,15.88,15.88Z" fill="#fff"/>
        </g>
        <g>
          <path d="M39.46,38.65a4.23,4.23,0,0,0,0-6h0a4.22,4.22,0,0,0-6,6h0A4.23,4.23,0,0,0,39.46,38.65Z" fill="#fff"/>
          <path d="M56.28,64.54,68.51,76.06l8.36-8.36L65.35,55.47a8.14,8.14,0,0,1-2.63-6.79L52.91,38.13c-2.89-2.89-6.92-3.58-9-1.53L37.4,43.13c-2,2-1.35,6.08,1.53,9l10.56,9.81A8.14,8.14,0,0,1,56.28,64.54Z" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
