<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.87 108.05">
  <title>icon-Ресурс 17</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <path d="M27.94,82A27.94,27.94,0,0,1,16.24,28.65,1.84,1.84,0,1,1,17.79,32,24.25,24.25,0,0,0,27.94,78.28a1.84,1.84,0,0,1,0,3.69Z" fill="#fff"/>
        <path d="M38.84,27.4a1.84,1.84,0,0,1-.77-3.52,24.33,24.33,0,0,0,14.12-22,1.84,1.84,0,1,1,3.69,0A28,28,0,0,1,39.61,27.23,1.84,1.84,0,0,1,38.84,27.4Z" fill="#fff"/>
        <path d="M54,108.05a1.84,1.84,0,0,1-1.84-1.84A24.28,24.28,0,0,0,27.94,82a1.84,1.84,0,1,1,0-3.69,28,28,0,0,1,27.94,27.94A1.84,1.84,0,0,1,54,108.05Z" fill="#fff"/>
        <path d="M41,78.47A1.84,1.84,0,0,1,40.06,75,24.25,24.25,0,0,0,27.94,29.78,28,28,0,0,1,0,1.84a1.84,1.84,0,0,1,3.69,0A24.28,24.28,0,0,0,27.94,26.09a27.94,27.94,0,0,1,14,52.13A1.84,1.84,0,0,1,41,78.47Z" fill="#fff"/>
        <path d="M1.84,108.05A1.84,1.84,0,0,1,0,106.21a27.79,27.79,0,0,1,15.51-25,1.84,1.84,0,1,1,1.64,3.3A24.13,24.13,0,0,0,3.69,106.21,1.84,1.84,0,0,1,1.84,108.05Z" fill="#fff"/>
        <rect x="7.88" y="2.44" width="39.71" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
        <rect x="13.76" y="12.23" width="28.35" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
        <rect x="7.88" y="101.64" width="39.71" height="4.57" rx="2.28" ry="2.28" transform="translate(55.47 207.85) rotate(-180)" fill="#fff"/>
        <rect x="13.36" y="91.85" width="28.35" height="4.57" rx="2.28" ry="2.28" transform="translate(55.07 188.27) rotate(180)" fill="#fff"/>
        <rect x="8.17" y="56.41" width="39.71" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
        <rect x="14.04" y="66.2" width="28.35" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
        <rect x="8.17" y="47.12" width="39.71" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
        <rect x="14.04" y="37.33" width="28.35" height="4.57" rx="2.28" ry="2.28" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
