<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.43 59.43">
  <title>icon-Ресурс 2</title>
  <g style="isolation: isolate">
    <g id="Слой_2" data-name="Слой 2">
      <g id="Layer_1" data-name="Layer 1">
        <path d="M26.47,36.59c0-.93.09-1.9.09-2.83,0-4.36,6.92-6.78,6.92-11.28a3.63,3.63,0,0,0-3.9-3.57c-3.25,0-4,3-3.9,5.62h-9.1c.28-8.45,6.22-10.91,13.65-10.91,5.29,0,12.63,2.27,12.63,8.73,0,6.64-7.47,9.05-7.66,12a18,18,0,0,0-.14,2.23Zm0,9.24V40H35v5.85Zm33-16.11A29.72,29.72,0,1,0,29.72,59.43,29.72,29.72,0,0,0,59.43,29.72Z" fill="#c3c9e3" style="mix-blend-mode: multiply"/>
      </g>
    </g>
  </g>
</svg>
