<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.94 93.52">
  <title>icon-Ресурс 4</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <text transform="translate(1.56 72.01) scale(1.1 1)" font-size="86.03" fill="#fff" font-family="Futura-Book, Futura Book">x</text>
        <path d="M2.74,31.57H12L23.66,45.34,35.3,31.57h9.46L28.48,50.5,46.94,72H37.76L23.66,55.58,9.46,72H0L18.93,50.5Z" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
