<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.99 76.01">
  <title>icon-Ресурс 7</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <polygon points="16 37.02 16.02 37 16 36.99 44.99 8 36.99 0 0 36.99 0.02 37 0 37.02 36.99 74.01 44.99 66.01 16 37.02" fill="#fff"/>
        <polygon points="16 39.02 16.02 39 16 38.99 44.99 10 36.99 2 0 38.99 0.02 39 0 39.02 36.99 76.01 44.99 68.01 16 39.02" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
