<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.15 76.1">
  <title>Ресурс 2</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <path d="M50.82,10.39h0A5.2,5.2,0,0,1,50.82,0h0a5.2,5.2,0,0,1,0,10.39Z" fill="#fff"/>
        <path d="M32.32,44a2.75,2.75,0,0,1,1.84-.64,3.2,3.2,0,0,1,3.26,3.43V76.1h2.7V48.95A10.46,10.46,0,0,1,42,55.08l.7,21H58.93l.7-21a9.57,9.57,0,0,1,4-8.16l.72-26c0-5-3.25-9.1-7.22-9.1H44.47c-4,0-7.22,4.09-7.22,9.1l.58,21.07a6.1,6.1,0,0,0-3.68-1.24A5.44,5.44,0,0,0,30.52,42a5.1,5.1,0,0,0-1.67,4h2.7A2.48,2.48,0,0,1,32.32,44Z" fill="#fff"/>
        <path d="M15.4,18.7a4.85,4.85,0,1,0-4.85-4.85A4.87,4.87,0,0,0,15.4,18.7Z" fill="#fff"/>
        <path d="M0,65.44H8.52c-.14.14,2.14,8.16,2.88,10.66h8c.63-2.5,2.72-10.52,2.93-10.66H31L24.36,41.61c.1,0,1.08-4.63,1.62-13.12.23-3.62-2-8.16-5.82-8.5h-9.5c-3.78.34-5.9,4.88-5.82,8.5C5,37.38,6.68,41.9,6.62,41.81Z" fill="#fff"/>
        <path d="M83.59,36.2a5,5,0,0,0,4.93-4.93h0a4.93,4.93,0,0,0-9.87,0h0A5,5,0,0,0,83.59,36.2Z" fill="#fff"/>
        <path d="M76.09,61.69l.59,14.42H90.51l.59-14.42A6.42,6.42,0,0,1,94.54,56l.62-12.37A6.28,6.28,0,0,0,89,37.22H78.18A6.28,6.28,0,0,0,72,43.6L72.65,56A6.42,6.42,0,0,1,76.09,61.69Z" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
