<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.74 54.74">
  <title>icon-Ресурс 9</title>
  <g style="isolation: isolate">
    <g id="Слой_2" data-name="Слой 2">
      <g id="Layer_1" data-name="Layer 1">
        <path d="M0,27.37A27.37,27.37,0,1,1,27.37,54.74,27.37,27.37,0,0,1,0,27.37ZM27.37,11.44a3.89,3.89,0,1,0,3.89,3.89A3.9,3.9,0,0,0,27.37,11.44Zm3.47,12.08H23.9V42.39h6.94Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
      </g>
    </g>
  </g>
</svg>
