<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.43 24.53">
  <title>icon-Ресурс 16</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <polygon points="0 0 0 24.53 17.43 12.26 0 0" fill="#fff"/>
    </g>
  </g>
</svg>
