<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.24 91.24">
  <title>icon-Ресурс 23</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <path d="M6,56.31,56.31,6a20.54,20.54,0,0,1,29,0h0a20.54,20.54,0,0,1,0,29L34.93,85.27a20.54,20.54,0,0,1-29,0H6A20.54,20.54,0,0,1,6,56.31Zm52.32-47L9.55,58C1,66.6,3.46,77.47,11.42,85.43h0a20.4,20.4,0,0,0,2.25,1.94c-6-8-4.82-20.28,2.44-27.54l21.2-21.2L56.8,58.12,82,33A16.74,16.74,0,1,0,58.29,9.28Z" fill="#fff" fill-rule="evenodd"/>
    </g>
  </g>
</svg>
