<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104.47 104.47">
  <title>icon-Ресурс 22</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <path d="M58.13,10A34.05,34.05,0,1,1,10,10,34.05,34.05,0,0,1,58.13,10ZM15.3,15.3a26.51,26.51,0,1,0,37.49,0A26.51,26.51,0,0,0,15.3,15.3Z" fill="#fff" fill-rule="evenodd"/>
        <rect x="60.53" y="59.49" width="6.92" height="9" transform="translate(-26.5 63.99) rotate(-45)" fill="#fff"/>
        <rect x="75.47" y="57.98" width="16.65" height="51.62" rx="8.32" ry="8.32" transform="translate(-34.71 83.79) rotate(-45)" fill="#fff"/>
      </g>
    </g>
  </g>
</svg>
