<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 541.76 887.17">
  <defs>
    <linearGradient id="linear-gradient" x1="5682.45" y1="105.33" x2="5682.45" y2="43.71" gradientTransform="matrix(-0.99, 0.1, 0.1, 0.99, 5964.55, -341.08)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#9ba1b8"/>
      <stop offset="0.73" stop-color="#9097b0"/>
      <stop offset="1" stop-color="#8b92ac"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="5745.95" y1="105.33" x2="5745.95" y2="43.71" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="5720.15" y1="105.33" x2="5720.15" y2="43.71" xlink:href="#linear-gradient"/>
    <clipPath id="clip-path" transform="translate(-0.31)">
      <rect x="11.88" y="91.72" width="110.03" height="181.79" fill="none"/>
    </clipPath>
    <linearGradient id="linear-gradient-4" x1="5506.71" y1="-9571.01" x2="5573.21" y2="-9571.01" gradientTransform="translate(-5483.26 9700)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#fff"/>
      <stop offset="0.29" stop-color="#fafafa"/>
      <stop offset="0.63" stop-color="#ececec"/>
      <stop offset="0.99" stop-color="#d5d5d5"/>
      <stop offset="1" stop-color="#d4d4d4"/>
    </linearGradient>
  </defs>
  <title>icon-Ресурс 1</title>
  <g style="isolation: isolate">
    <g id="Слой_2" data-name="Слой 2">
      <g id="Layer_1" data-name="Layer 1">
        <path d="M611.82,421.21" transform="translate(-0.31)" fill="#36435e"/>
        <path d="M281.22,391.3s-132.85,133-136.49-34.42l-22.19,3.65S91.38,523.87,231.05,496.44c36.5-7.17,80.46-26.38,82.1-43.23C315.4,430.09,281.22,391.3,281.22,391.3Z" transform="translate(-0.31)" fill="#e5e8f3"/>
        <ellipse cx="353.31" cy="873.97" rx="158.52" ry="13.2" fill="#b7b9bb" style="mix-blend-mode: multiply"/>
        <path d="M322.65,755.14s44.61,67.1,25.61,100.69l-41,9.21-1,7.07s49.78,13.19,65.85-7.24l17-121.1Z" transform="translate(-0.31)" fill="#3a457a"/>
        <path d="M467,119.48c-.89,0-4.76-53.49-4.76-53.49C453.57-16.66,217.88-36.66,231.63,94.23c0,0,17,222.12,24.52,284.13,0,0,24,4.32,23.85,4.26l6.71,42.56c109.59,61.47,175.7,2.66,208.63-15.06C485.85,306.39,469.53,112.24,467,119.48Z" transform="translate(-0.31)" fill="#f5c6a7"/>
        <path d="M302.33,187" transform="translate(-0.31)" fill="none" stroke="#58595b" stroke-linejoin="round" stroke-width="1.41"/>
        <ellipse cx="329.35" cy="29.85" rx="17.09" ry="7.97" transform="matrix(0.83, -0.55, 0.55, 0.83, 37.74, 186.41)" fill="#f9dbc7"/>
        <g>
          <path d="M272.45,94.35a16.6,16.6,0,0,0-.28,1.69c-1.37,12.56,12.42,22.51,30.79,21.58s34.16-12.52,35.29-25.22A15.54,15.54,0,0,0,338,88c-7.69-.26-15.84-.14-24.35.41A255.46,255.46,0,0,0,272.45,94.35Z" transform="translate(-0.31)" fill="#fff" opacity="0.5"/>
          <path d="M212.18,103.91a12.75,12.75,0,0,0,.13,1.38c1.6,10.21,15.3,17.37,30.55,15.52s26.14-12,24.38-22.12a13.06,13.06,0,0,0-1.12-3.47c-6.59.2-13.48.72-20.55,1.62A194.21,194.21,0,0,0,212.18,103.91Z" transform="translate(-0.31)" fill="#fff" opacity="0.5"/>
        </g>
        <path d="M413.36,31.55c-84.52-8-42,37.92-30.94,80.27,7.83,30,77.82,210.53-136.79,167.27,0,0,2,25.52-2.31,47.35-5.12,26.14-14.58,51.94-14.58,51.94s282,80.35,198.22-217.16c-4.62-4.77-8.85-11.89-11.65-20.36-5.75-17.45-3.24-34,5.6-36.87,8.38-2.76,19.44,7.7,25.46,23.66,14.56.64,30.46,5.74,30.46,5.74S501,39.88,413.36,31.55Z" transform="translate(-0.31)" fill="#8b92ac"/>
        <g>
          <path d="M319.46,374.94c.65,3.34-6-54.7-13.15-77.15,2.25-.08,4.47-.18,6.64-.33l1.36-.13c10.9,24.84,18.64,54.83,23.1,75C333.13,373.24,324,374.34,319.46,374.94Z" transform="translate(-0.31)" fill="url(#linear-gradient)"/>
          <path d="M265,296.63c2.56.62,5.1,1.21,7.61,1.75.53,25.2-4.52,54.65-8.84,74.9-4.56-.92-16.27-2.08-20.46-3.1C251.35,348.09,262.89,317.62,265,296.63Z" transform="translate(-0.31)" fill="url(#linear-gradient-2)"/>
          <path d="M292.21,290.77c4.5,28.48,4.33,62.58,3.46,85.37-4.56.14-16.16.59-20.6.44,4.55-25.76,10.77-61.67,9.3-86.28Q288.34,290.61,292.21,290.77Z" transform="translate(-0.31)" fill="url(#linear-gradient-3)"/>
        </g>
        <path d="M450.92,759.32S393.71,829.53,408.84,860l42.08,3.48v6.83s-54.67,19.77-68.65-8.35V743.76Z" transform="translate(-0.31)" fill="#3a457a"/>
        <path d="M394.64,428.31c-42.48-3.28-83.45-9.68-114.57-38.19-15.16,147.4,0,439.4,0,439.4L380.61,799,481.7,838c-.29,0,1-81.63,2.9-126.84,3.47-82.51,9-265,10.89-305.5A175.18,175.18,0,0,1,394.64,428.31Z" transform="translate(-0.31)" fill="#fff"/>
        <path d="M280.07,390.12,370.14,724.2,495.48,405.64c-29.6,17.06-64.69,23.85-100.79,21.06C352.21,423.42,324.23,417.84,280.07,390.12Z" transform="translate(-0.31)" fill="#e5e8f3"/>
        <path d="M370.14,725.44,390,681.34,375.81,448.22,387.28,426c-10.2-1.44-19.81-2.18-29.4-4.1l11.41,26.4L356.8,679.59Z" transform="translate(-0.31)" fill="#e669a2"/>
        <g>
          <path d="M421.25,467.57l-23.86-40.71c-.9-.06-1.79-.09-2.69-.16-2.48-.19-4.91-.39-7.3-.61Z" transform="translate(-0.31)" fill="#bfc6e1"/>
          <path d="M351.9,421.09c-9.31,10.83-21.3,24.14-27.42,30.4l33.4-29.21Q354.87,421.73,351.9,421.09Z" transform="translate(-0.31)" fill="#bfc6e1"/>
        </g>
        <g>
          <path d="M478.19,578.3c-17.84.55-36.55.66-54.58,1-3.27,0-5.88-3.49-5.79-7.82.33-16.27.51-24.42.89-40.77.1-4.35,2.77-7.86,5.92-7.79,17.42.2,35.63,1,53.22,1.53,3.19.06,5.84,3.42,5.87,7.51.14,15.36.2,23.07.29,38.55C484,574.66,481.42,578.17,478.19,578.3Z" transform="translate(-0.31)" fill="#bfc6e1"/>
          <path d="M443.38,570.73c-7.46,0-11.19.05-18.67.08.26-16,.4-24,.71-40.11,7.3.14,10.94.24,18.25.43C443.54,547,443.48,554.9,443.38,570.73Z" transform="translate(-0.31)" fill="#8591c5"/>
          <path d="M473.31,535.5c-10.43-.12-15.64-.25-26-.49,0-1.54,0-.77,0-2.31l26-1C473.3,533.24,473.3,534,473.31,535.5Z" transform="translate(-0.31)" fill="#a2abd3"/>
          <path d="M479.24,545.73l-32-1c0-1.54,0-1.53,0-3.07,12.77.23,19.16.36,32,.35C479.23,543.49,479.23,544.24,479.24,545.73Z" transform="translate(-0.31)" fill="#a2abd3"/>
          <path d="M466.88,556l-19.7-1.58c0-1.54,0-.77,0-2.31,7.87.08,11.8.11,19.68.11C466.87,553.77,466.87,554.52,466.88,556Z" transform="translate(-0.31)" fill="#a2abd3"/>
        </g>
        <path d="M142.46,264.41l-15,13.13L131,306.81c-36.54,10.71-78.36-.65-95.64,6l1.53,15.55C78,333.25,103.54,352.18,121,360.52l23.77-3.65Z" transform="translate(-0.31)" fill="#f5c6a7"/>
        <polygon points="267.3 76.44 263.7 162.2 283.53 165.88 266.9 158.65 267.3 76.44" fill="#be9c85"/>
        <path d="M493.08,404.2s-38.62,157.46-230.26,40.53l-22.62,26.22s226.49,161,292.44,36.85C567.88,441.47,493.08,404.2,493.08,404.2Z" transform="translate(-0.31)" fill="#fff"/>
        <path d="M349.78,179s-9.64,30.9-87.51,16.58c16,16.93,58.39,35.78,5.11,50.76,17.74,4,50,7.54,69.9-12.65C351.14,219.55,353.94,216.72,349.78,179Z" transform="translate(-0.31)" fill="#9c5254"/>
        <polygon points="261.32 415.61 267.11 451.75 242.82 473.69 186 441.22 213.24 406.98 181.95 362.05 190.74 350.34 261.32 415.61" fill="#f5c6a7"/>
        <path d="M337.28,233.64a46,46,0,0,0,9.3-13.2c-13.95-2.59-38.58,3.88-51.55,28.92C309.77,249.14,325.66,245.46,337.28,233.64Z" transform="translate(-0.31)" fill="#cb6a6e"/>
        <g>
          <path d="M273.07,82.32c4-.36,7.58,4.5,8,10.83s-2.45,11.78-6.43,12.14-7.58-4.5-8-10.83S269.09,82.68,273.07,82.32Z" transform="translate(-0.31)" fill="#626b8c"/>
          <path d="M271.48,86.45c1.24-.11,2.37,1.4,2.5,3.38s-.76,3.68-2,3.79-2.37-1.4-2.5-3.38S270.23,86.56,271.48,86.45Z" transform="translate(-0.31)" fill="#fdf4ee"/>
        </g>
        <g>
          <path d="M250.8,87.29c-3.3.25-5.57,4.71-5.06,9.94s3.62,9.28,6.92,9,5.57-4.71,5.06-9.94S254.1,87,250.8,87.29Z" transform="translate(-0.31)" fill="#626b8c"/>
          <path d="M248.8,91.72c-1,.07-1.64,1.39-1.49,2.94s1.07,2.74,2,2.66,1.64-1.39,1.49-2.94S249.77,91.65,248.8,91.72Z" transform="translate(-0.31)" fill="#fdf4ee"/>
        </g>
        <g>
          <g>
            <path d="M137.49,130.55a6.54,6.54,0,0,1-5.74,6.6v4a6.25,6.25,0,0,1,5.7,6.43c0,9.06,0,13.6-.07,22.66a6.52,6.52,0,0,1-5.69,6.6q-.11,61.38-.27,122.77c0,9.91-7.33,18.13-16.23,18.27l-92.07,1.44c-8.89.14-16.39-7.85-16.67-17.76q-3-106.3-6.13-212.6C0,79,7.51,70.8,16.95,70.66l97.73-1.44c9.44-.14,17.16,7.85,17.15,17.76,0,5.79,0,8.69,0,14.49a6.28,6.28,0,0,1,5.75,6.43C137.53,117,137.52,121.49,137.49,130.55Z" transform="translate(-0.31)" fill="#6d6e71"/>
            <path d="M116,314.35H18.38c-5.56,0-10.18-5.06-10.28-11.25Q6.45,194.17,4.81,85.24A10.82,10.82,0,0,1,15.34,74H118.72a10.84,10.84,0,0,1,10.55,11.25q-1.52,108.93-3,217.87C126.14,309.29,121.52,314.35,116,314.35Z" transform="translate(-0.31)" fill="#414042"/>
            <path d="M69.14,286.75c-5.88.09-10.56,5.43-10.46,11.93s4.92,11.69,10.76,11.6S80,304.85,79.9,298.35,75,286.66,69.14,286.75Z" transform="translate(-0.31)" fill="#363637"/>
            <path d="M17.41,273.7l103.11-1.59q0-89.24-.15-178.48L12.77,95.23Q15.13,184.47,17.41,273.7Z" transform="translate(-0.31)" fill="#fff"/>
          </g>
          <g style="mix-blend-mode: darken">
            <g clip-path="url(#clip-path)">
              <g>
                <g>
                  <rect x="11.56" y="91.72" width="110.03" height="20.17" fill="#5364ae"/>
                  <g>
                    <path d="M100.54,98.4h1v.11h-.45v1.2H101v-1.2h-.45Z" transform="translate(-0.31)" fill="#a1aad2"/>
                    <path d="M101.81,99.71V98.4h.2l.46,1.16h0l.45-1.16h.2v1.31H103V98.54h0l-.46,1.17h-.13l-.46-1.17h0v1.17Z" transform="translate(-0.31)" fill="#a1aad2"/>
                  </g>
                  <g>
                    <g>
                      <path d="M43.89,103.81V99a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v4.78a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,43.89,103.81Z" transform="translate(-0.31)" fill="#a261d6"/>
                      <path d="M40.87,103.81v-3.25a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v3.25a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,40.87,103.81Z" transform="translate(-0.31)" fill="#e64b9b"/>
                      <path d="M37.85,103.81V98.69a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v5.12a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,37.85,103.81Z" transform="translate(-0.31)" fill="#f2653d"/>
                      <path d="M34.82,103.81v-2.1a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v2.1a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,34.82,103.81Z" transform="translate(-0.31)" fill="#febc11"/>
                    </g>
                    <g>
                      <path d="M49,100.28h2.26c.65,0,1.26.3,1.26,1.13S52,102.54,51,102.54H49.41v1.64H49Zm.44,1.89h1.68c.73,0,.94-.31.94-.77s-.35-.75-.85-.75H49.41Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M54.24,100.28h.44v1.65h3v-1.65h.44v3.9h-.44V102.3h-3v1.88h-.44Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M62.95,103H60.74l-.57,1.19h-.47l1.91-3.9h.51l1.91,3.9h-.51Zm-1.1-2.31-.94,1.94h1.86Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M65.63,100.28h2.29c.71,0,1.36.23,1.36,1.06a1,1,0,0,1-.82.95h0c.59.09.72.44.75,1.08a1.94,1.94,0,0,0,.15.81h-.47a1.69,1.69,0,0,1-.11-.8c0-.69-.29-.92-1-.92H66.06v1.72h-.44Zm.44,1.81h1.84c.48,0,.91-.16.91-.76s-.46-.68-.86-.68H66.06Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M75.49,100.28h.62v3.9h-.44v-3.37h0l-1.85,3.37h-.4l-1.85-3.38h0v3.38h-.44v-3.9h.64l1.87,3.39Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M80.91,103H78.7l-.57,1.19h-.47l1.91-3.9h.51l1.91,3.9h-.51Zm-1.1-2.31-.94,1.94h1.86Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M83.16,103.81l3.12-3.16H83.36v-.37h3.51v.37l-3.14,3.16h3.18v.37H83.16Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M91.36,103H89.14l-.57,1.19H88.1l1.91-3.9h.51l1.91,3.9h-.51Zm-1.1-2.31-.94,1.94h1.86Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M98.34,100.28H99v3.9h-.44v-3.37h0l-1.85,3.37h-.4l-1.85-3.38h0v3.38H94v-3.9h.64l1.87,3.39Z" transform="translate(-0.31)" fill="#fff"/>
                    </g>
                  </g>
                  <rect x="11.56" y="91.72" width="110.03" height="31.6" fill="#33448c"/>
                  <g>
                    <path d="M99.52,99h1v.11h-.45v1.2H100v-1.2h-.45Z" transform="translate(-0.31)" fill="#a1aad2"/>
                    <path d="M100.79,100.28V99h.2l.46,1.16h0l.45-1.16h.2v1.31H102V99.11h0l-.46,1.17h-.13l-.46-1.17h0v1.17Z" transform="translate(-0.31)" fill="#a1aad2"/>
                  </g>
                  <g>
                    <g>
                      <path d="M42.4,103.81v-3.25a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v3.25a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,42.4,103.81Z" transform="translate(-0.31)" fill="#e64b9b"/>
                      <path d="M39.38,103.81V98.69A.61.61,0,0,1,40,98.1h0a.69.69,0,0,1,.67.65v5.12a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,39.38,103.81Z" transform="translate(-0.31)" fill="#f2653d"/>
                      <path d="M36.35,103.81v-2.1a.61.61,0,0,1,.67-.58h0a.69.69,0,0,1,.67.65v2.1a.61.61,0,0,1-.67.58h0A.69.69,0,0,1,36.35,103.81Z" transform="translate(-0.31)" fill="#febc11"/>
                    </g>
                    <g>
                      <path d="M47.45,100.28h2.26c.65,0,1.26.3,1.26,1.13s-.52,1.14-1.46,1.14H47.88v1.64h-.44Zm.44,1.89h1.68c.73,0,.94-.31.94-.77s-.35-.75-.85-.75H47.88Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M52.71,100.28h.44v1.65h3v-1.65h.44v3.9h-.44V102.3h-3v1.88h-.44Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M61.42,103H59.21l-.57,1.19h-.47l1.91-3.9h.51l1.91,3.9H62Zm-1.1-2.31-.94,1.94h1.86Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M64.1,100.28h2.29c.71,0,1.36.23,1.36,1.06a1,1,0,0,1-.82.95h0c.59.09.72.44.75,1.08a1.94,1.94,0,0,0,.15.81h-.47a1.69,1.69,0,0,1-.11-.8c0-.69-.29-.92-1-.92H64.54v1.72H64.1Zm.44,1.81h1.84c.48,0,.91-.16.91-.76s-.46-.68-.86-.68H64.54Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M74,100.28h.62v3.9h-.44v-3.37h0l-1.85,3.37h-.4L70,100.8h0v3.38h-.44v-3.9h.64l1.87,3.39Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M79.38,103H77.17l-.57,1.19h-.47l1.91-3.9h.51l1.91,3.9h-.51Zm-1.1-2.31-.94,1.94H79.2Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M81.63,103.81l3.12-3.16H81.83v-.37h3.51v.37l-3.14,3.16h3.18v.37H81.63Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M89.83,103H87.62L87,104.18h-.47l1.91-3.9H89l1.91,3.9h-.51Zm-1.1-2.31-.94,1.94h1.86Z" transform="translate(-0.31)" fill="#fff"/>
                      <path d="M96.82,100.28h.62v3.9H97v-3.37h0l-1.85,3.37h-.4l-1.85-3.38h0v3.38h-.44v-3.9h.64l1.87,3.39Z" transform="translate(-0.31)" fill="#fff"/>
                    </g>
                  </g>
                </g>
                <g>
                  <path d="M114.84,112H71.61a2,2,0,0,0-2.1,1.89v8.08A1.47,1.47,0,0,1,68,123.32h50.49a1.45,1.45,0,0,1-1.52-1.37v-8.1A2,2,0,0,0,114.84,112Z" transform="translate(-0.31)" fill="#27346b"/>
                  <path d="M66.27,123.32A1.45,1.45,0,0,1,64.75,122v-8.1a2,2,0,0,0-2.1-1.89H19.42a2,2,0,0,0-2.1,1.89v8.08a1.47,1.47,0,0,1-1.54,1.39h-3.9v11.33h110V123.32Z" transform="translate(-0.31)" fill="#e64b9b"/>
                </g>
                <rect x="11.88" y="123.32" width="110.03" height="11.33" transform="translate(133.47 257.97) rotate(180)" fill="url(#linear-gradient-4)" style="mix-blend-mode: multiply"/>
                <text transform="translate(29.49 130.81) scale(1.08 1)" font-size="4.92" fill="#fff" font-family="Futura-Book, Futura Book">John<tspan x="9.99" y="0" letter-spacing="0em">a</tspan><tspan x="12.34" y="0">than</tspan><tspan x="21.81" y="0" letter-spacing="-0.04em"> </tspan><tspan x="22.68" y="0" letter-spacing="-0.06em">W</tspan><tspan x="26.57" y="0">. </tspan><tspan x="28.63" y="0" letter-spacing="0em">D</tspan><tspan x="31.93" y="0">oe </tspan><tspan x="38.15" y="0" font-size="3.41" letter-spacing="0.01em">(750 P</tspan><tspan x="47.1" y="0" font-size="3.41" letter-spacing="0em">T</tspan><tspan x="48.81" y="0" font-size="3.41" letter-spacing="0.01em">S)</tspan></text>
                <text transform="translate(29.76 119.73) scale(1.08 1)" font-size="4.92" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="0.01em">M</tspan><tspan x="3.99" y="0">y </tspan><tspan x="7.36" y="0" letter-spacing="-0.02em">P</tspan><tspan x="9.9" y="0" letter-spacing="-0.01em">r</tspan><tspan x="11.46" y="0" letter-spacing="0em">ofile</tspan></text>
                <g opacity="0.5">
                  <text transform="translate(79.3 119.73) scale(1.08 1)" font-size="4.92" fill="#b5c1ff" font-family="Futura-Book, Futura Book">Check <tspan x="13.61" y="0" letter-spacing="0.01em">M</tspan><tspan x="17.6" y="0">eds</tspan></text>
                </g>
                <g>
                  <g>
                    <g>
                      <path d="M126.94,166.31H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,169.79,131.52,166.31,126.94,166.31Z" transform="translate(-0.31)" fill="#febc11" style="mix-blend-mode: multiply"/>
                      <g>
                        <ellipse cx="33.75" cy="174.05" rx="8.33" ry="7.74" fill="#febc11" style="mix-blend-mode: multiply"/>
                        <path d="M30.16,175.14l5.13-4.77a2.21,2.21,0,0,1,3,0h0a1.85,1.85,0,0,1,0,2.74l-5.13,4.77a2.21,2.21,0,0,1-3,0h0A1.85,1.85,0,0,1,30.16,175.14Zm5.33-4.45-5,4.61a1.66,1.66,0,0,0,.19,2.6h0l.23.18a2,2,0,0,1,.25-2.61l2.16-2,2,1.85,2.56-2.38a1.51,1.51,0,0,0,0-2.24A1.8,1.8,0,0,0,35.49,170.69Z" transform="translate(-0.31)" fill="#fff" fill-rule="evenodd"/>
                      </g>
                    </g>
                    <text transform="translate(46.89 175.82) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="0.01em">M</tspan><tspan x="4.45" y="0">y </tspan><tspan x="8.2" y="0" letter-spacing="0.01em">M</tspan><tspan x="12.65" y="0">edic</tspan><tspan x="22.25" y="0" letter-spacing="0em">a</tspan><tspan x="24.87" y="0" letter-spacing="0em">tion</tspan></text>
                  </g>
                  <g>
                    <path d="M126.94,186.84H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,190.32,131.52,186.84,126.94,186.84Z" transform="translate(-0.31)" fill="#f2653d" style="mix-blend-mode: multiply"/>
                    <ellipse cx="33.75" cy="194.58" rx="8.33" ry="7.74" fill="#f2653d" style="mix-blend-mode: multiply"/>
                    <polygon points="37.46 193.08 35.25 193.08 35.25 191.02 32.24 191.02 32.24 193.08 30.03 193.08 30.03 195.87 32.24 195.87 32.24 197.93 35.25 197.93 35.25 195.87 37.46 195.87 37.46 193.08" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="0.59"/>
                    <text transform="translate(46.89 196.53) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="0.01em">M</tspan><tspan x="4.45" y="0">edical </tspan><tspan x="19.15" y="0" letter-spacing="0.01em">H</tspan><tspan x="22.78" y="0">is</tspan><tspan x="26.24" y="0" letter-spacing="-0.01em">t</tspan><tspan x="28.03" y="0">o</tspan><tspan x="31.04" y="0" letter-spacing="0.03em">r</tspan><tspan x="32.98" y="0">y</tspan></text>
                  </g>
                  <g>
                    <path d="M126.94,207.15H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,210.63,131.52,207.15,126.94,207.15Z" transform="translate(-0.31)" fill="#e64b9b" style="mix-blend-mode: multiply"/>
                    <ellipse cx="33.75" cy="214.89" rx="8.33" ry="7.74" fill="#e64b9b" style="mix-blend-mode: multiply"/>
                    <text transform="translate(46.89 216.84) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book">Drug <tspan x="12.71" y="0" letter-spacing="0em">A</tspan><tspan x="16.06" y="0">lle</tspan><tspan x="21.4" y="0" letter-spacing="-0.01em">r</tspan><tspan x="23.15" y="0" letter-spacing="-0.01em">g</tspan><tspan x="26.19" y="0">ies</tspan></text>
                  </g>
                  <g>
                    <path d="M126.94,227H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,230.51,131.52,227,126.94,227Z" transform="translate(-0.31)" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
                    <ellipse cx="33.75" cy="234.77" rx="8.33" ry="7.74" fill="#7b4e9f" opacity="0.8" style="mix-blend-mode: multiply"/>
                    <text transform="translate(46.89 236.72) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="0.01em">M</tspan><tspan x="4.45" y="0">y Li</tspan><tspan x="12.08" y="0" letter-spacing="-0.01em">f</tspan><tspan x="13.61" y="0">es</tspan><tspan x="18.54" y="0" letter-spacing="0.01em">t</tspan><tspan x="20.41" y="0">yle</tspan></text>
                  </g>
                  <g>
                    <path d="M126.94,247H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,250.53,131.52,247,126.94,247Z" transform="translate(-0.31)" fill="#5364ae"/>
                    <ellipse cx="33.75" cy="254.79" rx="8.33" ry="7.74" fill="#5364ae" opacity="0.5" style="mix-blend-mode: multiply"/>
                    <text transform="translate(46.89 256.74) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="-0.01em">C</tspan><tspan x="3.12" y="0">o</tspan><tspan x="6.14" y="0" letter-spacing="0em">n</tspan><tspan x="9.17" y="0">ta</tspan><tspan x="13.63" y="0" letter-spacing="0.01em">c</tspan><tspan x="16.16" y="0" letter-spacing="0em">t </tspan><tspan x="19.14" y="0" letter-spacing="0.01em">I</tspan><tspan x="20.51" y="0">n</tspan><tspan x="23.56" y="0" letter-spacing="-0.01em">f</tspan><tspan x="25.09" y="0">o</tspan></text>
                  </g>
                  <g>
                    <path d="M35.52,231.75H32.84a.56.56,0,0,0-.6.51v3.64h.14a.56.56,0,0,1,.6.51l.23,3.45h1.86l.31-3.45a.56.56,0,0,1,.6-.51h.14v-3.64A.56.56,0,0,0,35.52,231.75Z" transform="translate(-0.31)" fill="#fff"/>
                    <path d="M34.08,231.33h.2a.57.57,0,0,0,.6-.52v-.47a.57.57,0,0,0-.6-.52h-.2a.57.57,0,0,0-.6.52v.47A.57.57,0,0,0,34.08,231.33Z" transform="translate(-0.31)" fill="#fff"/>
                  </g>
                  <path d="M37.53,211.81a4.91,4.91,0,0,0-6.58,0,4.11,4.11,0,0,0,0,6.12,4.91,4.91,0,0,0,6.58,0A4.11,4.11,0,0,0,37.53,211.81Zm-5.85,5.43a3.19,3.19,0,0,1-.34-4.39l5.06,4.7A3.82,3.82,0,0,1,31.68,217.25Zm5.45-.36-5.06-4.7a3.82,3.82,0,0,1,4.72.32A3.19,3.19,0,0,1,37.13,216.88Z" transform="translate(-0.31)" fill="#fff"/>
                  <g>
                    <rect x="30.48" y="251.18" width="6.88" height="0.98" fill="#fff"/>
                    <rect x="30.48" y="253.35" width="6.88" height="0.98" fill="#fff"/>
                    <rect x="30.48" y="255.52" width="6.88" height="0.98" fill="#fff"/>
                    <rect x="30.48" y="257.7" width="6.88" height="0.98" fill="#fff"/>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M126.94,145.86H34.15c-4.58,0-8.33,3.48-8.33,7.74h0c0,4.26,3.75,7.74,8.33,7.74h92.78c4.58,0,8.33-3.48,8.33-7.74h0C135.26,149.34,131.52,145.86,126.94,145.86Z" transform="translate(-0.31)" fill="#a6a8ab"/>
                    <ellipse cx="33.75" cy="153.6" rx="8.33" ry="7.74" fill="#808184" opacity="0.5" style="mix-blend-mode: multiply"/>
                    <text transform="translate(46.89 155.55) scale(1.08 1)" font-size="5.49" fill="#fff" font-family="Futura-Book, Futura Book"><tspan letter-spacing="-0.07em">T</tspan><tspan x="2.34" y="0">est </tspan><tspan x="10.25" y="0" letter-spacing="0em">R</tspan><tspan x="13.22" y="0">esults </tspan><tspan x="27.63" y="0" letter-spacing="-0.01em">C</tspan><tspan x="30.75" y="0">ode</tspan></text>
                  </g>
                  <g>
                    <path d="M34.06,156.34a2.75,2.75,0,0,1-2.85-2.64,2.65,2.65,0,0,1,1.65-2.4.19.19,0,0,1,.25.09.17.17,0,0,1-.09.23,2.3,2.3,0,0,0-1.44,2.09,2.39,2.39,0,0,0,2.47,2.3.18.18,0,1,1,0,.35Z" transform="translate(-0.31)" fill="#fff"/>
                    <path d="M35.18,151.17a.19.19,0,0,1-.17-.1.17.17,0,0,1,.09-.23,2.3,2.3,0,0,0,1.44-2.09.19.19,0,0,1,.38,0,2.65,2.65,0,0,1-1.66,2.4Z" transform="translate(-0.31)" fill="#fff"/>
                    <path d="M36.72,158.81a.18.18,0,0,1-.19-.17,2.39,2.39,0,0,0-2.47-2.3.18.18,0,1,1,0-.35,2.75,2.75,0,0,1,2.85,2.64A.18.18,0,0,1,36.72,158.81Z" transform="translate(-0.31)" fill="#fff"/>
                    <path d="M35.39,156a.19.19,0,0,1-.16-.09.17.17,0,0,1,.07-.24,2.28,2.28,0,0,0,1.24-2,2.39,2.39,0,0,0-2.47-2.3,2.75,2.75,0,0,1-2.85-2.64.19.19,0,0,1,.38,0,2.39,2.39,0,0,0,2.47,2.3,2.75,2.75,0,0,1,2.85,2.64A2.63,2.63,0,0,1,35.49,156Z" transform="translate(-0.31)" fill="#fff"/>
                    <path d="M31.41,158.81a.18.18,0,0,1-.19-.17,2.62,2.62,0,0,1,1.58-2.37.19.19,0,0,1,.25.08.17.17,0,0,1-.08.23,2.27,2.27,0,0,0-1.37,2.06A.18.18,0,0,1,31.41,158.81Z" transform="translate(-0.31)" fill="#fff"/>
                    <rect x="31.71" y="148.81" width="4.05" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                    <rect x="32.31" y="149.74" width="2.89" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                    <rect x="32.02" y="158.2" width="4.05" height="0.43" rx="0.21" ry="0.21" transform="translate(67.78 316.84) rotate(180)" fill="#fff"/>
                    <rect x="32.58" y="157.28" width="2.89" height="0.43" rx="0.21" ry="0.21" transform="translate(67.74 314.98) rotate(180)" fill="#fff"/>
                    <rect x="31.74" y="153.92" width="4.05" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                    <rect x="32.34" y="154.85" width="2.89" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                    <rect x="31.74" y="153.04" width="4.05" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                    <rect x="32.34" y="152.11" width="2.89" height="0.43" rx="0.21" ry="0.21" fill="#fff"/>
                  </g>
                </g>
                <rect x="121.6" y="123.79" width="14.71" height="146.3" fill="#4c4c4c"/>
                <text x="-0.31"></text>
                <path d="M114.24,129.56c0-.08,0-.16,0-.24,0-.37.62-.57.62-.95a.32.32,0,0,0-.35-.3c-.29,0-.36.25-.35.47h-.82c0-.71.56-.92,1.23-.92.48,0,1.14.19,1.14.73s-.68.76-.69,1a1.4,1.4,0,0,0,0,.19Zm0,.78v-.49H115v.49Zm3-1.35a2.69,2.69,0,1,0-2.69,2.5A2.6,2.6,0,0,0,117.22,129Z" transform="translate(-0.31)" fill="#fff" opacity="0.3"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
