<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.85 72.98">
  <title>icon-Ресурс 13</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <path d="M109.17,63.35c1.54-.68.2-2-1.69-1.7C93.64,64,75.2,65.38,54.92,65.38S16.2,64,2.36,61.64c-1.89-.32-3.23,1-1.69,1.7C14.08,69.26,33.41,73,54.92,73S95.77,69.26,109.17,63.35Z" fill="#231f20" opacity="0.66"/>
        <g>
          <g>
            <ellipse cx="25.63" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
            <ellipse cx="84.22" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="29.61" cy="28.9" rx="8.74" ry="10.85" fill="#231f20" opacity="0.75"/>
            <ellipse cx="27.67" cy="23.84" rx="2.9" ry="2.88" fill="#fff"/>
          </g>
          <g>
            <ellipse cx="80.61" cy="28.9" rx="8.74" ry="10.85" fill="#231f20" opacity="0.75"/>
            <ellipse cx="78.18" cy="23.84" rx="2.9" ry="2.88" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
