<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118.47 109.98">
  <title>icon-Ресурс 15</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <g opacity="0.66">
            <path d="M59.24,97.87c22.72,0,42.7,4.64,54.29,11.65,2.61,1.58,5.58-1.21,4.83-4.58-6.93-31.16-30.76-54.13-59.12-54.13S7,73.78.12,104.94c-.75,3.37,2.22,6.16,4.83,4.58C16.54,102.5,36.52,97.87,59.24,97.87Z" fill="#231f20"/>
          </g>
          <path d="M101.35,100.17c0-7.34-3.06-11.3-8.14-15.1a56.24,56.24,0,0,0-68,0c-5.08,3.8-8.14,7.77-8.14,15.1h0C28.24,96,43,93.45,59.24,93.45s31,2.55,42.12,6.72Z" fill="#fff"/>
        </g>
        <path d="M44.79,18.13c.05.71.09,1.42.09,2.15,0,12.6-8.32,22.82-18.58,22.82-6.33,0-11.92-3.9-15.28-9.84,2.17,9,9.13,15.66,17.4,15.66,10,0,18.11-9.67,18.11-21.6A25,25,0,0,0,44.79,18.13Z" fill="#231f20" opacity="0.2"/>
        <path d="M74.14,18.13c-.05.71-.09,1.42-.09,2.15,0,12.6,8.32,22.82,18.58,22.82,6.33,0,11.92-3.9,15.28-9.84-2.17,9-9.13,15.66-17.4,15.66-10,0-18.11-9.67-18.11-21.6A25,25,0,0,1,74.14,18.13Z" fill="#231f20" opacity="0.2"/>
        <g>
          <ellipse cx="29.94" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
          <ellipse cx="88.53" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
        </g>
        <g>
          <ellipse cx="29.94" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
          <ellipse cx="88.53" cy="20.96" rx="15.58" ry="20.96" fill="#fff"/>
        </g>
        <g>
          <ellipse cx="32.53" cy="24.61" rx="5.29" ry="6.57" fill="#231f20" opacity="0.75"/>
          <ellipse cx="31.35" cy="21.55" rx="1.76" ry="1.75" fill="#fff"/>
        </g>
        <g>
          <ellipse cx="85.94" cy="24.61" rx="5.29" ry="6.57" fill="#231f20" opacity="0.75"/>
          <ellipse cx="84.77" cy="21.55" rx="1.76" ry="1.75" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
