<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.49 79.22">
  <title>icon-Ресурс 28</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <rect width="67.49" height="10.34" fill="#fff"/>
        <rect y="22.96" width="67.49" height="10.34" fill="#fff"/>
        <rect y="45.92" width="67.49" height="10.34" fill="#fff"/>
      </g>
      <rect y="68.88" width="67.49" height="10.34" fill="#fff"/>
    </g>
  </g>
</svg>
