<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.66 75.19">
  <title>icon-Ресурс 10</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <g>
          <path d="M67.09,39.82A30.48,30.48,0,1,1,36.61,9.34,30.48,30.48,0,0,1,67.09,39.82Zm-8.93,0A21.55,21.55,0,1,0,36.61,61.37,21.55,21.55,0,0,0,58.16,39.82Zm-26.75-.9,7.48,7.48L49.95,27Z" fill="#fff" fill-rule="evenodd"/>
          <path d="M5.37,22.59a38.54,38.54,0,0,1,18-16,12.38,12.38,0,1,0-18,16Z" fill="#fff"/>
          <path d="M68.29,22.59a38.54,38.54,0,0,0-18-16,12.38,12.38,0,1,1,18,16Z" fill="#fff"/>
        </g>
        <g>
          <path d="M15.06,57.19c-2.1,1.85-6.66,18-6.66,18L23.33,61.37Z" fill="#fff"/>
          <path d="M59,57.19c2.1,1.85,6.66,18,6.66,18L50.7,61.37Z" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
