<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208.64 70.2">
  <title>Ресурс 1</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <path d="M106.71,38.9H56.78c-6.11,0-11.11,4.6-11.11,10.22V70.2h72.14V49.12C117.82,43.5,112.82,38.9,106.71,38.9Z" fill="#fff"/>
        <path d="M83.62,30.33c6.11,0,11.11-4.73,11.11-10.51V10.51C94.73,4.73,89.73,0,83.62,0H79.88C73.77,0,68.77,4.73,68.77,10.51v9.32c0,5.78,5,10.51,11.11,10.51Z" fill="#fff"/>
      </g>
      <line y1="40.27" x2="208.64" y2="38.9" fill="none"/>
    </g>
  </g>
</svg>
