<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.35 91.35">
  <title>icon-Ресурс 26</title>
  <g id="Слой_2" data-name="Слой 2">
    <g id="Layer_1" data-name="Layer 1">
      <path d="M78,13.38A45.67,45.67,0,1,0,78,78,45.67,45.67,0,0,0,78,13.38ZM20.58,70.76a35.49,35.49,0,0,1-3.33-46.34L66.92,74.1A35.49,35.49,0,0,1,20.58,70.76ZM74.1,66.92,24.43,17.25A35.49,35.49,0,0,1,74.1,66.92Z" fill="#fff"/>
    </g>
  </g>
</svg>
