<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 861.39 406.28">
  <title>icon-Ресурс 29</title>
  <g style="isolation: isolate">
    <g id="Слой_2" data-name="Слой 2">
      <g id="Layer_1" data-name="Layer 1">
        <g>
          <path d="M372.33,127.13V264.84a10.25,10.25,0,0,1-10.93,10.32h0a11.74,11.74,0,0,1-10.93-11.54V125.9a10.25,10.25,0,0,1,10.93-10.32h0A11.74,11.74,0,0,1,372.33,127.13Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M421.88,112.06V264.84a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,400,263.61V110.83a10.25,10.25,0,0,1,10.93-10.32h0A11.74,11.74,0,0,1,421.88,112.06Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M471.42,199.08v65.76a10.25,10.25,0,0,1-10.93,10.32h0a11.74,11.74,0,0,1-10.93-11.54V197.85a10.25,10.25,0,0,1,10.93-10.32h0A11.74,11.74,0,0,1,471.42,199.08Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M521,229.63v35.21A10.25,10.25,0,0,1,510,275.16h0a11.74,11.74,0,0,1-10.93-11.54V228.41A10.25,10.25,0,0,1,510,218.09h0A11.74,11.74,0,0,1,521,229.63Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M570.52,214.57v50.28a10.25,10.25,0,0,1-10.93,10.32h0a11.74,11.74,0,0,1-10.93-11.54V213.34A10.25,10.25,0,0,1,559.59,203h0A11.74,11.74,0,0,1,570.52,214.57Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
          <path d="M620.06,236.42v28.42a10.25,10.25,0,0,1-10.93,10.32h0a11.74,11.74,0,0,1-10.93-11.54V235.2a10.25,10.25,0,0,1,10.93-10.32h0A11.74,11.74,0,0,1,620.06,236.42Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
          <path d="M372.33,83V220.7a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,350.47,222V84.3A11.79,11.79,0,0,1,361.4,72.71h0A10.21,10.21,0,0,1,372.33,83Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M421.88,10.29V163.07a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,400,164.38V11.6A11.79,11.79,0,0,1,410.95,0h0A10.21,10.21,0,0,1,421.88,10.29Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M471.42,123.72v94a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,449.56,219V125a11.79,11.79,0,0,1,10.93-11.58h0A10.21,10.21,0,0,1,471.42,123.72Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M521,155.15v35.21A11.79,11.79,0,0,1,510,201.94h0a10.21,10.21,0,0,1-10.93-10.27V156.46A11.79,11.79,0,0,1,510,144.87h0A10.21,10.21,0,0,1,521,155.15Z" fill="#e64b9b" style="mix-blend-mode: multiply"/>
          <path d="M570.52,117.35v50.28a11.79,11.79,0,0,1-10.93,11.58h0a10.21,10.21,0,0,1-10.93-10.27V118.66a11.79,11.79,0,0,1,10.93-11.58h0A10.21,10.21,0,0,1,570.52,117.35Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
          <path d="M620.06,206.22v28.42a11.79,11.79,0,0,1-10.93,11.58h0a10.21,10.21,0,0,1-10.93-10.27V207.53a11.79,11.79,0,0,1,10.93-11.58h0A10.21,10.21,0,0,1,620.06,206.22Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
          <path d="M297.28,263.61V191.06a10.25,10.25,0,0,1,10.93-10.32h0a11.74,11.74,0,0,1,10.93,11.54v72.55a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,297.28,263.61Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M247.73,263.61V147.73a10.25,10.25,0,0,1,10.93-10.32h0A11.74,11.74,0,0,1,269.59,149V264.84a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,247.73,263.61Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M198.19,263.61V173.27A10.25,10.25,0,0,1,209.12,163h0A11.74,11.74,0,0,1,220,174.5v90.34a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,198.19,263.61Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M148.64,263.61V191.48a10.25,10.25,0,0,1,10.93-10.32h0a11.74,11.74,0,0,1,10.93,11.54v72.13a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,148.64,263.61Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M99.09,263.61V250.27A10.25,10.25,0,0,1,110,240h0A11.74,11.74,0,0,1,121,251.49v13.35A10.25,10.25,0,0,1,110,275.16h0A11.74,11.74,0,0,1,99.09,263.61Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M49.55,263.61V235.2a10.25,10.25,0,0,1,10.93-10.32h0a11.74,11.74,0,0,1,10.93,11.54v28.42a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,49.55,263.61Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M0,263.61v-6.56a10.25,10.25,0,0,1,10.93-10.32h0a11.74,11.74,0,0,1,10.93,11.54v6.56a10.25,10.25,0,0,1-10.93,10.32h0A11.74,11.74,0,0,1,0,263.61Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M798.57,170.85v94a10.25,10.25,0,0,0,10.93,10.32h0a11.74,11.74,0,0,0,10.93-11.54v-94A10.25,10.25,0,0,0,809.5,159.3h0A11.74,11.74,0,0,0,798.57,170.85Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M749,155.78V264.84a10.25,10.25,0,0,0,10.93,10.32h0a11.74,11.74,0,0,0,10.93-11.54V154.55a10.25,10.25,0,0,0-10.93-10.32h0A11.74,11.74,0,0,0,749,155.78Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M699.47,177.64v87.2a10.25,10.25,0,0,0,10.93,10.32h0a11.74,11.74,0,0,0,10.93-11.54v-87.2a10.25,10.25,0,0,0-10.93-10.32h0A11.74,11.74,0,0,0,699.47,177.64Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M649.93,236.42v28.42a10.25,10.25,0,0,0,10.93,10.32h0a11.74,11.74,0,0,0,10.93-11.54V235.2a10.25,10.25,0,0,0-10.93-10.32h0A11.74,11.74,0,0,0,649.93,236.42Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
          <path d="M297.28,227.74V155.18a11.79,11.79,0,0,1,10.93-11.58h0a10.21,10.21,0,0,1,10.93,10.27v72.55A11.79,11.79,0,0,1,308.21,238h0A10.21,10.21,0,0,1,297.28,227.74Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M247.73,179.94V64.06a11.79,11.79,0,0,1,10.93-11.58h0a10.21,10.21,0,0,1,10.93,10.27V178.64a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,247.73,179.94Z" fill="#f2653d" style="mix-blend-mode: multiply"/>
          <path d="M198.19,248.26V157.92a11.79,11.79,0,0,1,10.93-11.58h0A10.21,10.21,0,0,1,220,156.61V247a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,198.19,248.26Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M148.64,201.76V129.62A11.79,11.79,0,0,1,159.57,118h0a10.21,10.21,0,0,1,10.93,10.27v72.13A11.79,11.79,0,0,1,159.57,212h0A10.21,10.21,0,0,1,148.64,201.76Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M99.09,191V177.68A11.79,11.79,0,0,1,110,166.09h0A10.21,10.21,0,0,1,121,176.37v13.35A11.79,11.79,0,0,1,110,201.3h0A10.21,10.21,0,0,1,99.09,191Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M49.55,237.79V209.37a11.79,11.79,0,0,1,10.93-11.58h0a10.21,10.21,0,0,1,10.93,10.27v28.42a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,49.55,237.79Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M0,256.4v-6.56a11.79,11.79,0,0,1,10.93-11.58h0a10.21,10.21,0,0,1,10.93,10.27v6.56a11.79,11.79,0,0,1-10.93,11.58h0A10.21,10.21,0,0,1,0,256.4Z" fill="#febc11" style="mix-blend-mode: multiply"/>
          <path d="M798.57,104.37v94a11.79,11.79,0,0,0,10.93,11.58h0a10.21,10.21,0,0,0,10.93-10.27v-94A11.79,11.79,0,0,0,809.5,94.09h0A10.21,10.21,0,0,0,798.57,104.37Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M749,57.91V167a11.79,11.79,0,0,0,10.93,11.58h0a10.21,10.21,0,0,0,10.93-10.27V59.22a11.79,11.79,0,0,0-10.93-11.58h0A10.21,10.21,0,0,0,749,57.91Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M699.47,144.82V232a11.79,11.79,0,0,0,10.93,11.58h0a10.21,10.21,0,0,0,10.93-10.27v-87.2a11.79,11.79,0,0,0-10.93-11.58h0A10.21,10.21,0,0,0,699.47,144.82Z" fill="#5364ae" style="mix-blend-mode: multiply"/>
          <path d="M649.93,170.53v28.42a11.79,11.79,0,0,0,10.93,11.58h0a10.21,10.21,0,0,0,10.93-10.27V171.84a11.79,11.79,0,0,0-10.93-11.58h0A10.21,10.21,0,0,0,649.93,170.53Z" fill="#7b4e9f" style="mix-blend-mode: multiply"/>
        </g>
        <g>
          <path d="M844.88,319h6.53v.72h-2.84V328h-.85v-8.25h-2.84Z" fill="#a1aad2"/>
          <path d="M853,328v-9h1.3l2.94,7.92h0l2.89-7.92h1.28v9h-.85v-8h0l-2.94,8h-.8l-3-8h0v8Z" fill="#a1aad2"/>
          <g style="mix-blend-mode: multiply">
            <path d="M1.68,337.45H38.8c10.6,0,20.73,5.3,20.73,19.86,0,13-8.58,20.05-23.91,20.05H8.82v28.92H1.68ZM8.82,370.8H36.39c12,0,15.42-5.49,15.42-13.5,0-10.32-5.78-13.3-14-13.3h-29Z" fill="#5364ae"/>
            <path d="M88,337.45H95.1v29.11h49.74V337.45H152v68.83h-7.13V373.11H95.1v33.16H88Z" fill="#5364ae"/>
            <path d="M230.65,385.36H194.4L185,406.28h-7.71l31.24-68.83h8.29l31.24,68.83h-8.29Zm-18-40.78L197.29,378.8h30.46Z" fill="#5364ae"/>
            <path d="M274.61,337.45h37.5c11.67,0,22.37,4.14,22.37,18.61A16.79,16.79,0,0,1,321,372.73v.19c9.73,1.54,11.76,7.81,12.24,19.09.19,4.34.77,12.73,2.41,14.27h-7.71c-1.25-1.45-1.73-6.56-1.83-14.07-.19-12.15-4.82-16.2-16.68-16.2H281.74v30.27h-7.13Zm7.13,32h30.17c7.81,0,14.85-2.89,14.85-13.4,0-10.12-7.62-12.05-14.17-12.05H281.74Z" fill="#5364ae"/>
            <path d="M436.19,337.45h10.12v68.83h-7.13V346.8H439l-30.37,59.48h-6.56L371.79,346.7h-.19v59.58h-7.13V337.45h10.41l30.66,59.87Z" fill="#5364ae"/>
            <path d="M525,385.36H488.73l-9.35,20.92h-7.71l31.24-68.83h8.29l31.24,68.83h-8.29Zm-18-40.78L491.62,378.8h30.46Z" fill="#5364ae"/>
            <path d="M561.9,399.72,613,344H565.18v-6.55h57.46V344l-51.38,55.72H623.4v6.56H561.9Z" fill="#5364ae"/>
            <path d="M696.19,385.36H659.95l-9.35,20.92h-7.71l31.24-68.83h8.29l31.24,68.83h-8.29Zm-18-40.78L662.84,378.8H693.3Z" fill="#5364ae"/>
            <path d="M810.72,337.45h10.12v68.83h-7.13V346.8h-.19l-30.37,59.48h-6.56L746.32,346.7h-.19v59.58H739V337.45h10.41l30.66,59.87Z" fill="#5364ae"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
