.ph {
    margin: 0 auto;
    position: relative;
    width: rem-calc(590px);
    height: rem-calc(960px);
  }

.ph--wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $futura;
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  touch-action: manipulation;
}

.ph--main {
  width: 100%;
  flex: 1;
  position: relative;
}

.ph--scrolled {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.ph--footer {
  align-self: flex-end;
  width: 100%;
  position: relative;
}

.ph--header {
  align-self: flex-start;
  background: none;
}

.ph--footer-buttons {
  padding: rem-calc(60px);
  background: $light-blue;
}

.position {
  display: flex;
}

.position_center-XY {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ph--main .input-group {
  .form-control, .btn {
    z-index: 0;
  }
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.ph--input {
  background-color: #fff;
  border: 2px solid $dark-blue;
  height: 2.15em;
  border-radius: 0px;
  font-size: rem-calc(28px);
  padding: 0.35em 0.72em;
  line-height: 1.3em;
  color: $dark-blue;
  font-family: $futura;
  &:hover,
  &:active,
  &:focus {
    border-color: $dark-blue;
    box-shadow: none;
  }
  @include placeholder {
    color: $light-blue;
  }
}
.ph--input_gray {
  color: #58595B;
}
textarea.ph--description {
  padding: .72em;
  height: 11em;
}
.btn-ph {
  z-index: 0;
  font-family: $futura;
  font-size: rem-calc(28px);
  border-radius: 0px;
  transition: opacity 0.33s linear;
  min-height: 2.15em;
  padding: 0.29em 0.78em;
  &:active {
    transition: none;
    opacity: 0.33;
  }
  &.btn-block+&.btn-block {
    margin-top: rem-calc(17px);
  }
}

.btn-ph_blue {
  background: $dark-blue;
  color: #fff;
  transition: opacity 0.33s linear;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    box-shadow: none;
    background: $dark-blue;
  }
  &:active {
    
  }
}

.btn-ph_light-blue {
  background: $light-blue;
  color: #fff;
  &:hover,
  &:active,
  &:focus {
    color: #fff;
    box-shadow: none;
    background: $light-blue;
  }
}

.input-group {
  .btn-ph {
    border-radius: 0;
    height: 2.15em;
    padding: 0.2em 0.7em;
  }
}

.form-group {
  .ph--wrapper &+.form-group {
    margin-top: rem-calc(45px);
  }
}
.ph--form-spacer {
  margin-bottom: rem-calc(40px);
}
.ph--content {
  position: relative;
}

.ph--content_left {
  padding-left: rem-calc(60px);
}

.ph--content_both {
  padding-left: rem-calc(60px);
  padding-right: rem-calc(60px)
}

.ph--content-shadow {
  &:before {
    pointer-events: none;
    height: rem-calc(24px);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 8%, rgba(0, 0, 0, 0.15) 23%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
    //box-shadow:         0px 2px 24px 0px rgba(50, 50, 50, 0.75);
  }
}

.ph--content-inner {
  padding: rem-calc(65px);
  position: relative;
}

.shadow_small {
  position: relative;
  &:before {
    pointer-events: none;
    position: absolute;
    height: rem-calc(10px);
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 8%, rgba(0, 0, 0, 0.15) 23%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
  }
  &.shadow_small-after {
    &:before {
      bottom: rem-calc(-10px);
      top: auto;
    }
  }
}

.ph--form_vertical {
  margin: 0;
  li+li {
    margin-top: rem-calc(17px);
  }
}

.ph--nav {
  padding-top: rem-calc(60px);
  padding-bottom:  rem-calc(60px);
}

.ph--footer-icons {
  position: absolute;
  top: rem-calc(-60px);
  padding-left: rem-calc(30px);
  padding-right: rem-calc(30px);
  line-height: 0;
  z-index: 4;
  >a {
    transition: opacity 0.33s linear;
    &:active {
      transition: none;
      opacity: 0.35;
    }
  }
}
.ph--footer-icons_static {
  height: rem-calc(90px);
  padding-top: rem-calc(20px);
  position: static;
}

.ph--footer-question {
  .svg {
    width: rem-calc(30px);
    height: rem-calc(30px);
    display: inline-block;
  }
}

.ph--footer-home {
  float: right;
  position: relative;
  top: rem-calc(4px);
  
  .svg {
    width: rem-calc(32px);
    height: rem-calc(22px);
    display: inline-block;
  }
}

.svg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  svg {
    width: 100%;
    height: auto;
    display: block;
  }
}

.svg[data-svg=icon-dna] {
  background-image: url(../img/icon-dna.svg);
}

.svg[data-svg=icon-pill] {
  background-image: url(../img/icon-pill.svg);
}

.svg[data-svg=icon-hp] {
  background-image: url(../img/icon-hp.svg);
}

.svg[data-svg=icon-not-allowed] {
  background-image: url(../img/icon-not-allowed.svg);
}

.svg[data-svg=icon-man] {
  background-image: url(../img/icon-man.svg);
}

.svg[data-svg=icon-lines] {
  background-image: url(../img/icon-lines.svg);
}

.svg[data-svg=icon-home] {
  background-image: url(../img/icon-home.svg);
}

.svg[data-svg=icon-question] {
  background-image: url(../img/icon-question.svg);
}

.svg[data-svg=icon-home] {
  background-image: url(../img/icon-home.svg);
}

.svg[data-svg=icon-zoom] {
  background-image: url(../img/icon-zoom.svg);
}

.svg[data-svg=icon-warning] {
  background-image: url(../img/icon-warning.svg);
}

.svg[data-svg=icon-person] {
  background-image: url(../img/icon-person.svg);
}

.svg[data-svg=icon-family] {
  background-image: url(../img/icon-family.svg);
}

.svg[data-svg=icon-sheet-notes] {
  background-image: url(../img/icon-sheet-notes.svg);
}

.svg[data-svg=icon-sheet-hp] {
  background-image: url(../img/icon-sheet-hp.svg);
}

.svg[data-svg=icon-sheet-person] {
  background-image: url(../img/icon-sheet-person.svg);
}
.svg[data-svg=icon-info] {
  background-image: url(../img/icon-info.svg);
}
.svg[data-svg=icon-info-rose] {
  background-image: url(../img/icon-info-rose.svg);
}
.svg[data-svg=icon-clock] {
  background-image: url(../img/icon-clock.svg);
}
.svg[data-svg=icon-info_blue] {
  background-image: url(../img/icon-info_blue.svg);
}
.svg[data-svg=icon-play] {
  background-image: url(../img/icon-play.svg);
}
.svg[data-svg=icon-smile-fear] {
  background-image: url(../img/icon-smile-fear.svg);
}
.svg[data-svg=icon-smile-excited] {
  background-image: url(../img/icon-smile-excited.svg);
}
.svg[data-svg=icon-smile-happy] {
  background-image: url(../img/icon-smile-happy.svg);
}
.svg[data-svg=icon-smile-sad] {
  background-image: url(../img/icon-smile-sad.svg);
}
.typeahead { z-index: 1051; }
.typeahead {
  &.dropdown-menu {
    max-height: rem-calc(200px);
    overflow-y: auto;
    border: 0px;
    // left: rem-calc(-60px)!important;
    // right: rem-calc(-60px)!important;
    min-width: 100%;
    margin: 0;
    border-radius: 0;
    width: auto;
    font-size: rem-calc(28px);
    // border: 2px solid $dark-blue;
    > li {
      margin-top: -2px;
    }
    a, a:focus {
      color: $dark-blue;
      padding: 0.5em;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }
    .active > a, a:hover {
      background: transparent;
      color: $dark-blue;
    }
    .active > a {
      border-color: $dark-blue;
    }
  }
}
.bootstrap-select {
  .dropdown-menu {
    // border: 2px solid $dark-blue;
    max-height: rem-calc(200px);
    overflow-y: auto;
    border: 0px;
    // left: rem-calc(-60px)!important;
    // right: rem-calc(-60px)!important;
    min-width: 100%;
    margin: 0;
    border-radius: 0;
    width: auto;
    font-size: rem-calc(28px);
    > li {
      margin-top: -2px;
    }
    a, a:focus {
      color: $dark-blue;
      padding: 0.5em;
      background: rgba(255, 255, 255, 0);
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }
    .selected > a, a:hover {
      background: transparent;
      color: $dark-blue;
    }
    .selected > a {
      border-color: $dark-blue;
    }
  }
}
.datetimepicker-wrap {
  position: relative;
  
}
.bootstrap-select.btn-block {
  width: 100%;
}
.bootstrap-datetimepicker-widget {
  .btn-primary {
    margin: 0;
    border-radius: 0;
  }
}