$light-blue: #98A2CE;
$blue: #6473B6;
$darken-blue: #425099;
$dark-blue: #33448C;
$gray: #A6A8AB;
$dark-gray: #7C7E82;
$yellow: #FEBC11;
$dark-yellow: #FD8B01;
$orange: #F2653D;
$dark-orange: #E6280F;
$rose: #E64B9B;
$dark-rose: #CF165E;
$phi: #7B4E9F;
$dark-phi: #48236F;
$crimson: #BC42C9;
$dark-crimson: #8B119E;
$warning: #FF3B6E;
$futura: 'futurastdbook';
// $global-size-mod: 19px;
$global-size-mod: 10px;
