.svg_main {
  max-width: rem-calc(430px);
  width: 100%;
  margin: 0 auto;
  display: block;
}

.ph--login {
  background: $light-blue;
  padding: rem-calc(60px);
}

.ph--login-nav {
  margin-top: rem-calc(45px);
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
    margin: rem-calc(0 20px 0);
  }
  li {
    font-size: rem-calc(19px);
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
  }
  li:nth-child(even) {
    border-left: 2px solid #fff;
    height: rem-calc(20px);
    content: '';
    position: relative;
    bottom: -2px;
  }
  a {
    color: #fff;
  }
}

.ph--account {
  background: $dark-blue;
  padding: rem-calc(20px 0 0);
}

.ph--account-logo {
  display: block;
  width: rem-calc(325px);
  margin: 0 auto rem-calc(30px);
  ;
}

.ph--account-nav {
  padding: rem-calc(0 7px);
  .nav-tabs.nav-justified {
    >li {
      display: table-cell;
      width: 1%;
    }
    a {
      padding-left: 0px;
      padding-right: 0px;
      border: 0px;
      background: #27346B;
      margin: 0 4px;
      color: #BAC1DF;
      border-radius: rem-calc(10px 10px 0 0);
      font-size: rem-calc(24px);
      position: relative;
      &:hover,
      &:focus {
        border: 0px;
        color: #fff;
      }
      &:active {
        color: #fff;
        opacity: 0.35;
        transition: opacity 0s 0s linear;
      }
      &:after,
      &:before {
        display: block;
        position: absolute;
        bottom: 0;
        width: 1rem;
        height: 1rem;
        content: '';
      }
      &:after {
        background: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 10px, #27346B 10px);
        right: -1rem;
      }
      &:before {
        background: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 10px, #27346B 10px), ;
        left: -1rem;
      }
    }
    .active>a {
      color: #fff;
      border: 0px;
      z-index: 1;
      &:active {
        opacity: 1;
      }
      &.ph--account-pill_profile {
        background: $rose;
        &:after {
          background: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 10px, #E64B9B 10px);
        }
        &:before {
          background: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 10px, #E64B9B 10px), ;
        }
      }
      &.ph--account-pill_meds {
        background: #A552C7;
        &:after {
          background: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 10px, #A552C7 10px);
        }
        &:before {
          background: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 10px, #A552C7 10px), ;
        }
      }
      &.ph--account-pill_report {
        background: #F2653D;
        &:after {
          background: radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 10px, #F2653D 10px);
        }
        &:before {
          background: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 10px, #F2653D 10px), ;
        }
      }
    }
  }
}

.ph--account-wrap {
  overflow: hidden;
  height: 100%;
  .tab-pane,
  .ph--content {
    height: 100%;
  }
  .ph--nav {
    padding-bottom: rem-calc(40px);
  }
}

.ph--dna-helper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ph--dna-form {
  flex: 1 0 auto;
  position: relative;
  background: #ABB3D7;
  padding: rem-calc(40px 60px 0);
  li.text-center {
    margin-top: rem-calc(40px);
  }
}

.ph--dna-result {
  background: $blue;
  font-size: rem-calc(26px);
  padding: 0.7em 1em;
  line-height: 1.1em;
  color: #fff;
  min-height: 3.6em;
  &.text-center {
    margin-top: 4em;
    padding: 1.4em 1em;
    line-height: 1.4em;
  }
}

.ph--dna-slide {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: rem-calc(165px);
  background-color: #fff;
  transition: 0.33s transform ease-in-out;
  .down & {
    transform: translateY(110%);
  }
}

.ph--account-name {
  text-align: left;
  padding: rem-calc(15px 10px 15px 40px);
  font-size: rem-calc(26px);
  color: #fff;
  .ph--account[data-current='#profile'] & {
    background-color: #CA4288;
  }
  .ph--account[data-current='#meds'] & {
    background-color: #9048AF;
  }
  .ph--account[data-current='#report'] & {
    background-color: #D95A37;
  }
  small {
    font-size: 0.6em;
  }
}

.ph--nav-bar {
  border-radius: 100px 0 0 100px;
  margin-left: rem-calc(60px);
  position: relative;
  display: block;
  width: auto;
  font-size: rem-calc(28px);
  height: 2.9em;
  padding: rem-calc(0 0 0 100px);
  line-height: 2.9em;
  border: 0px;
  color: #fff;
  text-align: left;
  transition: opacity 0.33s linear;
  &:hover,
  &:focus {
    color: #fff;
  }
  &:active {
    box-shadow: none;
    opacity: 0.35;
    transition: none;
  }
  &+& {
    margin-top: rem-calc(25px);
  }
  &.ph--nav-bar_gray {
    background: $gray;
  }
  &.ph--nav-bar_yellow {
    background: $yellow;
  }
  &.ph--nav-bar_orange {
    background: $orange;
  }
  &.ph--nav-bar_rose {
    background: $rose;
  }
  &.ph--nav-bar_phi {
    background: $phi;
  }
  &.ph--nav-bar_blue {
    background: $blue;
  }
  &.ph--nav-bar_crimson {
    background: $crimson;
    ;
  }
}

.ph--nav-сircle {
  font-size: rem-calc(80px);
  height: 1em;
  width: 1em;
  position: absolute;
  left: 0;
  top: 0;
  position: absolute;
  line-height: 0.8em;
  border-radius: 50%;
  background: $dark-blue;
  text-align: center;
  .svg {
    font-size: rem-calc(50px);
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &[data-svg=icon-pill] {
      font-size: rem-calc(42px)
    }
    &[data-svg=icon-hp] {
      font-size: rem-calc(39px)
    }
    &[data-svg=icon-not-allowed] {
      font-size: rem-calc(45px)
    }
    &[data-svg=icon-lines] {
      font-size: rem-calc(45px)
    }
    &[data-svg=icon-person] {
      font-size: rem-calc(35px)
    }
    &[data-svg=icon-warning] {
      font-size: rem-calc(45px);
      // margin-bottom: -0.01em;
    }
  }
  .ph--nav-bar_gray & {
    background: $dark-gray;
  }
  .ph--nav-bar_yellow & {
    background: $dark-yellow;
  }
  .ph--nav-bar_orange & {
    background: $dark-orange;
  }
  .ph--nav-bar_rose & {
    background: $dark-rose;
  }
  .ph--nav-bar_phi & {
    background: $dark-phi;
  }
  .ph--nav-bar_blue & {
    background: $darken-blue;
  }
  .ph--nav-bar_crimson & {
    background: $dark-crimson;
  }
}

#meds {
  h4 {
    margin: -0.6em 0 1.4em 2.4em;
    font-size: rem-calc(26x);
    color: #5364AE;
  }
}

///////////////////////////
// inner pages
.page--toolbar-head {
  background: $dark-blue;
  padding: rem-calc(34px 40px);
  display: flex;
  .page--back {
    background: none;
    padding: 0;
    width: rem-calc(23px);
    transition: opacity 0.3s 0s linear;
    &:active {
      transition: none;
      opacity: 0.35;
    }
  }
  h1,
  h2 {
    color: #fff;
  }
  .page--toolbar-cat {
    margin: 0;
    position: absolute;
    left: 2.1em;
    right: 2.1em;
    text-align: center;
    font-size: rem-calc(32зч);
  }
}

.page--toolbar-title {
  padding: rem-calc(14px 10px);
  text-align: center;
  &.page--toolbar-title_yellow {
    background: $yellow;
  }
  &.page--toolbar-title_orange {
    background: $orange;
  }
  &.page--toolbar-title_rose {
    background: $rose;
  }
  &.page--toolbar-title_phi {
    background: $phi;
  }
  &.page--toolbar-title_blue {
    background: #5364AE;
  }
  h1 {
    margin: 0;
    color: #fff;
    font-size: rem-calc(26px);
  }
  &.page--toolbar-title_big {
    padding: rem-calc(36px) 10px;
    h1 {
      line-height: 1.4em;
      font-size: rem-calc(36px);
    }
  }
}

.page--toolbar-warning {
  font-size: rem-calc(40px);
  width: 1em;
  height: 1em;
  line-height: 0.75em;
  position: absolute;
  right: rem-calc(40px);
  top: rem-calc(34px);
  border: 2px solid #fff;
  background-color: $rose;
  border-radius: 50%;
  animation: pulse-shadow 2s infinite;
  transition: box-shadow 0.33s linear;
  .svg {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    // vertical-align: middle;
  }
  // &:hover {
  //   box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
  //   animation: none;
  // }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
  }
}

.ph--medication-list {
  >li {
    position: relative;
  }
}

.ph--medication-info {
  width: rem-calc(30px);
  height: rem-calc(30px);
  position: absolute;
  top: 50%;
  margin-top: rem-calc(-15px);
  right: rem-calc(60px);
  z-index: 1;
  transition: opacity 0.3s 0s linear;
  &:active {
    transition: none;
    opacity: 0.35;
  }
}

.ph--medication-item {
  position: relative;
  display: block;
  padding: 0.66em 2em;
  font-size: rem-calc(30px);
  color: $dark-blue;
  transition: opacity 0.3s 0s linear;
  &:active {
    transition: none;
    opacity: 0.35;
  }
  &:hover,
  &:focus {
    color: $dark-blue;
    text-decoration: none;
  }
  .ph--medication-info+& {
    padding-right: rem-calc(100px);
  }
}

.ph--alarms {
  background: $light-blue;
  padding: rem-calc(25px);
  .ph--input {
    padding-left: rem-calc(30px);
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-group+.form-group {
    margin-top: rem-calc(12.5px);
  }
  .svg {
    font-size: rem-calc(35px);
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-top: rem-calc(-5px);
  }
  .input-group-btn {
    .btn {
      width: rem-calc(60px);
      padding: 0;
    }
  }
}

.ph--fieldset-label {
  text-align: center;
  font-size: rem-calc(25px);
  margin-top: -1.3em;
  margin-bottom: 0.4em;
}

.ph--messages-item {
  padding: rem-calc(40px 60px);
  &+& {
    position: relative;
    &:before {
      pointer-events: none;
      position: absolute;
      height: rem-calc(10px);
      opacity: 0.8;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      background: linear-gradient(to bottom, rgba(224, 224, 224, 1) 0%, rgba(224, 224, 224, 0.87) 13%, rgba(231, 231, 231, 0.77) 23%, rgba(248, 248, 248, 0.38) 62%, rgba(253, 253, 253, 0.19) 81%, rgba(255, 255, 255, 0) 100%);
    }
  }
  h3 {
    margin-top: 0;
    font-size: rem-calc(28px);
    margin-bottom: 0.7em;
    color: $dark-blue;
  }
}

.ph--messages-warn {
  margin-top: 0px;
  font-size: rem-calc(21px);
  margin-bottom: 1.8em;
  color: $warning;
}

.ph--messages-description {
  color: #6D6E71;
  font-size: rem-calc(20px);
  p {
    font-size: rem-calc(20px);
    margin-bottom: 0px;
    &+p {
      margin-top: 1.2em;
    }
  }
}

.ph--compitability {
  margin: 0;
}

.ph--compitability-item {
  display: flex;
  width: 100%;
  height: rem-calc(124px);
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  transition: opacity 0.33s linear;
  padding-right: rem-calc(50px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:active {
    opacity: 0.35;
    transition: none;
    text-decoration: none;
  }
  position: relative;
}

.ph--compitability-cell {
  &+& {
    .ph--compitability-item {
      &:before {
        pointer-events: none;
        position: absolute;
        height: rem-calc(10px);
        opacity: 0.8;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 8%, rgba(0, 0, 0, 0.15) 23%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }
}

.ph--compitability-icon {
  font-size: rem-calc(124px);
  width: 1em;
  height: 1em;
  line-height: 0.8em;
  text-align: center;
  .ph--compitability-item_fear & {
    background-color: $warning;
  }
  .ph--compitability-item_sad & {
    background: #FFD500;
  }
  .ph--compitability-item_happy & {
    background: #BBE000;
  }
  .ph--compitability-item_excited & {
    background: #44AB11;
  }
  .svg {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: middle;
  }
}

.ph--compitability-descr {
  font-size: rem-calc(28px);
  padding: 0.1em 0.8em;
  margin-right: auto;
}

.ph--compitability-next {
  margin-left: auto;
  border-radius: 50%;
  display: inline-block;
  font-size: rem-calc(28px);
  line-height: 0.85em;
  width: 1em;
  height: 1em;
  text-align: center;
  .ph--compitability-item_fear & {
    background-color: $warning;
  }
  .ph--compitability-item_sad & {
    background: #FFD500;
  }
  .ph--compitability-item_happy & {
    background: #BBE000;
  }
  .ph--compitability-item_excited & {
    background: #44AB11;
  }
  .svg {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    position: relative;
    right: rem-calc(-2px);
  }
}

.wrapper {
  margin-top: rem-calc(25px);
  width: 100%;
  // bottom: 0;
  left: 0;
  position: absolute;
  background: #fff;
}


/*
    Common 
*/

.wizard,
.tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a,
.tabcontrol a {
  outline: 0;
}

.wizard ul,
.tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul>li,
.tabcontrol ul>li {
  display: block;
  padding: 0;
}


/* Accessibility */

.wizard>.steps .current-info,
.tabcontrol>.steps .current-info {
  position: absolute;
  left: -999em;
}

.wizard>.content>.title,
.tabcontrol>.content>.title {
  position: absolute;
  left: -999em;
}


/*
    Wizard
*/

.wizard>.steps {
  position: relative;
  display: block;
  width: 100%;
}

.wizard.vertical>.steps {
  display: inline;
  float: left;
  width: 30%;
}

.wizard>.steps .number {
  font-size: 1.429em;
}

.wizard>.steps>ul>li {
  width: 25%;
}

.wizard>.steps>ul>li,
.wizard>.actions>ul>li {
  float: left;
}

.wizard.vertical>.steps>ul>li {
  float: none;
  width: 100%;
}

.wizard>.steps a,
.wizard>.steps a:hover,
.wizard>.steps a:active {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard>.steps .disabled a,
.wizard>.steps .disabled a:hover,
.wizard>.steps .disabled a:active {
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wizard>.steps .current a,
.wizard>.steps .current a:hover,
.wizard>.steps .current a:active {
  background: #2184be;
  color: #fff;
  cursor: default;
}

.wizard>.steps .done a,
.wizard>.steps .done a:hover,
.wizard>.steps .done a:active {
  background: #9dc8e2;
  color: #fff;
}

.wizard>.steps .error a,
.wizard>.steps .error a:hover,
.wizard>.steps .error a:active {
  background: #ff3111;
  color: #fff;
}

.wizard>.content {
  background: #eee;
  display: block;
  margin: 0.5em;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard.vertical>.content {
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 65%;
}

.wizard>.content>.body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.wizard>.content>.body ul {
  list-style: disc !important;
}

.wizard>.content>.body ul>li {
  display: list-item;
}

.wizard>.content>.body>iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}

.wizard>.content>.body input {
  display: block;
  border: 1px solid #ccc;
}

.wizard>.content>.body input[type="checkbox"] {
  display: inline-block;
}

.wizard>.content>.body input.error {
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

.wizard>.content>.body label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.wizard>.content>.body label.error {
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em;
}

.wizard>.actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard.vertical>.actions {
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}

.wizard>.actions>ul {
  display: inline-block;
  text-align: right;
}

.wizard>.actions>ul>li {
  margin: 0 0.5em;
}

.wizard.vertical>.actions>ul>li {
  margin: 0 0 0 1em;
}

.wizard>.actions a,
.wizard>.actions a:hover,
.wizard>.actions a:active {
  background: #2184be;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard>.actions .disabled a,
.wizard>.actions .disabled a:hover,
.wizard>.actions .disabled a:active {
  background: #eee;
  color: #aaa;
}

.wizard>.loading {}

.wizard>.loading .spinner {}


/*
    Tabcontrol
*/

.tabcontrol>.steps {
  position: relative;
  display: block;
  width: 100%;
}

.tabcontrol>.steps>ul {
  position: relative;
  margin: 6px 0 0 0;
  top: 1px;
  z-index: 1;
}

.tabcontrol>.steps>ul>li {
  float: left;
  margin: 5px 2px 0 0;
  padding: 1px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabcontrol>.steps>ul>li:hover {
  background: #edecec;
  border: 1px solid #bbb;
  padding: 0;
}

.tabcontrol>.steps>ul>li.current {
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 0 none;
  padding: 0 0 1px 0;
  margin-top: 0;
}

.tabcontrol>.steps>ul>li>a {
  color: #5f5f5f;
  display: inline-block;
  border: 0 none;
  margin: 0;
  padding: 10px 30px;
  text-decoration: none;
}

.tabcontrol>.steps>ul>li>a:hover {
  text-decoration: none;
}

.tabcontrol>.steps>ul>li.current>a {
  padding: 15px 30px 10px 30px;
}

.tabcontrol>.content {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35em;
  overflow: hidden;
  border-top: 1px solid #bbb;
  padding-top: 20px;
}

.tabcontrol>.content>.body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.tabcontrol>.content>.body ul {
  list-style: disc !important;
}

.tabcontrol>.content>.body ul>li {
  display: list-item;
}

.ph--video-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.ph--process {
  width: 101%;
  display: block;
}

.ph-modal {
  padding: rem-calc(40px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &.modal_get-started {
    background: #7B4E9F;
  }
  &.modal_update {
    background: #F2653D;
  }
  &.modal_check {
    background: #E64B9B;
  }
}

.modal--close {
  position: absolute;
  top: 0.9em;
  right: 1em;
  font-size: rem-calc(44px);
  line-height: 1em;
  color: #fff;
}

.modal--content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: rem-calc(100px);
  right: rem-calc(50px);
  left: rem-calc(50px);
  bottom: rem-calc(50px);
}

.modal--text {
  font-size: rem-calc(28px);
  min-height: rem-calc(330px);
  margin-bottom: 1.5em;
  .modal_check & {
    padding-top: 1.5em;
  }
}

.modal--image_doctor {
  height: rem-calc(430px);
  background: url('/img/icon-doctor.svg') 45% center no-repeat;
  background-size: contain;
  &.modal--image_inversed {
    transform: scale(-1, 1);
  }
}
