<header class="ph--header">
  <div class="page--toolbar">
    <div class="page--toolbar-head">
      <button class="btn page--back">
        <span class="svg">{{> icon-chewron-left}}</span>
      </button>
      <h2 class="page--toolbar-cat">{{category}}</h2>
      {{#ifpage 'warnings'}}
        <a href="/" class="page--toolbar-warning">
          <span class="svg" data-svg="icon-warning"></span>
        </a>
      {{/ifpage}}
    </div>
    <div class="page--toolbar-title page--toolbar-title_{{color}} {{#ifequal size 'big'}}page--toolbar-title_big{{/ifequal}}">
      <h1>
        {{title}} {{#ifpage 'checking'}}Checking Compatibility:{{/ifpage}}
        {{#if subTitle}}
        <br> {{subTitle}}
        {{/if}}
      </h1> 
    </div>
  </div>
</header>
