<footer class="ph--footer">
  {{#unlesspage 'compitability'}}
    <div class="ph--footer-icons ph--footer-icons_static">
      <a href="/" class="ph--footer-question">
        <span class="svg" data-svg="icon-question"></span>
      </a>
      <a href="/" class="ph--footer-home">
        <span class="svg" data-svg="icon-home"></span>
      </a>
    </div>
  {{/unlesspage}}
  {{#ifpage 'warnings'}}
    <div class="ph--footer-buttons">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <button class="btn-ph btn-ph_blue btn btn-block">Send Report</button>
        </div>
      </div>
    </div>
  {{/ifpage}}
  {{#ifpage 'compitability'}}
    <div class="ph--footer-buttons shadow_small">
      <div class="row">
        <div class="col-xs-5">
          <button class="btn-ph btn-ph_blue btn btn-block">Add</button>
        </div>
        <div class="col-xs-7">
          <button class="btn-ph btn-ph_blue btn btn-block">Send Report</button>
        </div>
      </div>
    </div>
  {{/ifpage}}
</footer>