---
title: You Are Sharing With...
category: Family Sharing
color: blue
---

{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
        <div class="ph--content">
            <div class="ph--content-inner">
                <ul class="ph--form ph--form_vertical list-unstyled">
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add Family/Caregiver</a>
                    </li>
                </ul>
            </div>
            <ul class="ph--medication-list list-unstyled">
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info_blue"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        susan@homenurses.com
                    </a>
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info_blue"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        soninlaw@yahoo.com
                    </a>
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info_blue"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        kim@usatoday.com
                    </a>
                    
                </li>
            </ul>
        </div>
  </div>
</main>
{{> innerFooter}}