---
title: Share Information with a Caregiver
category: Family Sharing
color: blue
---
 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content">
        <form action="">
          <div class="ph--content-inner shadow_small">
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Add Family/Caregiver</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
