@font-face {
    font-family: 'futurastdbook';
    src: url(../fonts/futurastdbook.eot);
    src: url(../fonts/futurastdbook.eot) format("embedded-opentype"), url(../fonts/futurastdbook.woff2) format("woff2"), url(../fonts/futurastdbook.woff) format("woff"), url(../fonts/futurastdbook.ttf) format("truetype"), url(../fonts/futurastdbook.svg#futurastdbook) format("svg");
}

@font-face {
    font-family: 'FuturaStd-Light';
    src: url(../fonts/FuturaStd-Light.eot);
    src: url(../fonts/FuturaStd-Light.eot) format("embedded-opentype"), url(../fonts/FuturaStd-Light.woff) format("woff"), url(../fonts/FuturaStd-Light.ttf) format("truetype"), url(../fonts/FuturaStd-Light.svg#FuturaStd-Light) format("svg");
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'FuturaStd-Light', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    max-width: 50px;
    border-color: #a257a4;
    border-width: 3px;
}

hr.light {
    border-color: #a257a4;
}

a {
    color: #1976D2;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #1976D2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'futurastdbook', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #5364ae;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

aside {
    padding: 50px 0;
}

.logo-container {
    background: #fff;
}

.brand-logo {
    margin: 0 auto;
}

.navbar-default {
    border: none;
    font-family: 'FuturaStd-Light', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Proxima Nova Rg', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 18px;
    font-weight: normal;
    color: #a257a4;
    letter-spacing: normal
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #8794d1;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #a257a4 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, 1);
        background-color: #fff;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #5364ae;
        outline: none;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #a257a4;
    }
    .navbar-default li {
        background: url(../img/nav-divider.png) no-repeat right;
    }
    .navbar-default li:last-child {
        background: none;
    }
    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: none;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 22px;
        color: #5364ae;
    }
    .navbar-default .back-to-top {
        display: none;
    }
    .navbar-default.affix .back-to-top {
        display: block;
        width: 26px;
        height: 24px;
        background: url(../img/Pharmazam-logo-menu.png) no-repeat top left;
        margin-top: 10px;
        float: left;
        position: absolute;
        z-index: 3;
        left: 20px;
    }
    .navbar-default.affix .navbar-header,
    .navbar-default.affix .navbar-header {
        color: #a257a4;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #5364ae;
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #a257a4;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background: url(../img/header-intro-bg.png) no-repeat bottom #5364AE;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.container .number,
.container-fluid .number {
    color: #fff;
    background: #5264ae;
    text-align: center;
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding-top: 18px;
    border-radius: 40px;
    margin-right: 50px;
    font-family: 'futurastdbook', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


/*-------speech bubble ==================*/

.speech-bubble {
    padding: 18px 0;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    min-height: 10rem;
}

.speech-bubble2 {
    padding: 18px 0;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
}

.no-margin-p p {
    margin-bottom: 0 !important
}

.speech-bubble p {
    color: #fff;
    font-size: 19px;
    margin-bottom: 0;
}

.speech-bubble2 p {
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
}

.bubble-list li {
    color: #fff !important;
    font-size: 19px;
}

.speech-bubble.style1 {
    background: #5264ae;
}

.speech-bubble.style2 {
    background: #febb12;
}

.speech-bubble.style3 {
    background: #f3653d;
}

.speech-bubble.style4 {
    background: #e64a9b;
}

.speech-bubble2.style1 {
    background: #f24799;
}

.speech-bubble2.style1b {
    background: #c1397a;
}

.speech-bubble2.style2 {
    background: #565fac;
}

.speech-bubble2.style2b {
    background: #444c8a;
}

.speech-bubble2.style3 {
    background: #81489d;
}

.speech-bubble2.style3b {
    background: #66387b;
}

.speech-bubble2 .col-md-1 {
    font-weight: 700;
    font-family: 'futurastdbook';
    font-size: 24px;
    margin-top: -5px;
}

.speech-bubble.style1:before {
    content: url(../img/speech-bubble-arrow-left.png);
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 50px;
}

.speech-bubble2.style1:before,
.speech-bubble2.style2:before,
.speech-bubble2.style3:before {
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    left: -20px;
    top: 20px;
}

.speech-bubble2.style1:before {
    content: url(../img/speech-bubble2-arrow-left1.png);
}

.speech-bubble2.style2:before {
    content: url(../img/speech-bubble2-arrow-left2.png);
}

.speech-bubble2.style3:before {
    content: url(../img/speech-bubble2-arrow-left3.png);
}

.speech-bubble.style2:after,
.speech-bubble2.style1b:after,
.speech-bubble.style3:after,
.speech-bubble2.style2b:after,
.speech-bubble.style4:after,
.speech-bubble2.style3b:after {
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    right: 0;
    top: 20px;
}

.speech-bubble.style2:after {
    content: url(../img/speech-bubble-arrow-right-style2.png);
}

.speech-bubble.style3:after {
    content: url(../img/speech-bubble-arrow-right-style3.png);
}

.speech-bubble.style4:after {
    content: url(../img/speech-bubble-arrow-right-style4.png);
}

.speech-bubble2.style1b:after {
    content: url(../img/speech-bubble2-arrow-right-style1.png);
}

.speech-bubble2.style2b:after {
    content: url(../img/speech-bubble2-arrow-right-style2.png);
}

.speech-bubble2.style3b:after {
    content: url(../img/speech-bubble2-arrow-right-style3.png);
}

.speech-bubble-divider-arrow {
    background: url(../img/speech-bubble-divider-arrow.png) no-repeat top;
    height: 58px;
}

.brand-logo {
    background: url(../img/Pharmazam-logo.png) no-repeat;
    background-size: contain;
    margin: 60px auto 30px;
}

#intro {
    background: url(../img/header-intro-bg-stretch.png) repeat-x bottom #33448a;
}

#intro h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'futurastdbook', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#intro ul.header-list {
    padding-left: 20px !important;
    margin-top: 3px
}

#intro li {
    font-size: 18px;
    margin-bottom: 4px;
    color: #fff;
    list-style: none;
}

#intro li:before {
    content: "•";
    font-size: 20px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 .5em 0 -1em;
}

#intro p {
    margin-bottom: 0;
    font-size: 18px;
    color: #fff;
}

#intro .img-intro {
    background: url(../img/header-intro-bg.png) no-repeat;
    background-position: bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

#faqs,
#how-it-works,
#safeguard-health,
#download-app,
#test-kit,
#built-to-protect {
    background: url(../img/gradient-bg.png) repeat-x top;
}

.btn-primary {
    border: none;
    color: #fff;
    background-color: #bcbdbf;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border-radius: 40px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border: none;
    color: #fff;
    background-color: #7B4E9F;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

#call-to-action img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-footer {
    background: #242f6e;
    padding: 40px 0;
}

.info-footer p {
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 0;
    color: #fff;
}

.links-footer3 p {
    color: #fff;
    text-align: center !important;
}

.links-footer3 a {
    color: #a9b1d6;
    text-align: center !important;
}

.links-footer3 a:hover {
    color: #febc11;
    text-decoration: none
}

.social {
    background: url(../img/social-icons.png) no-repeat top left;
    height: 32px;
    width: 117px;
    margin: 20px auto;
}

.social a {
    height: 32px;
    width: 34px;
    display: block;
    float: left;
    margin-right: 7.48px;
}

.social a:last-child {
    margin-right: 0;
}

.social a:hover {
    background: rgba(255, 255, 255, .3);
}

.links-footer {
    background: #384385;
    text-align: center;
    padding: 10px 0 15px;
    border-top: 1px solid #4653a0;
}

.links-footer a,
.links-footer p {
    color: #a9b1d6;
    font-size: 11px;
    padding: 0 10px;
    border-right: 1px dotted #5360ae;
    font-family: arial;
    display: inline-block;
}

.links-footer p {
    display: inline-block;
    margin-bottom: 0;
}

.links-footer a:hover,
.contact-details-footer a:hover {
    color: #febc11;
    text-decoration: none;
}

.links-footer a:last-child {
    border-right: none;
}

#intro .btn-primary {
    background: #e74b9c;
}

#intro .btn-primary:hover {
    background: #febc11;
}

#call-to-action .btn-primary {
    background: #a9b1d6;
}

#call-to-action .btn-primary:hover {
    background: #febc11;
}

#call-to-action p,
#call-to-action h3,
.orange-bg h1,
.orange-bg p {
    color: #fff;
}

.bg-color-pink2 {
    background: #e64b9b
}

.bg-color-pink3 {
    background: url(../img/pink-bg2.png) top repeat-x #e64b9b
}

.bg-color-pink3 p,
.bg-color-pink3 h2,
.bg-color-pink3 h3,
.bg-color-purple h2,
.bg-color-purple3 h1,
.bg-color-purple3 h4 {
    color: #fff
}



.bg-color-pink3 .btn-primary {
    background: #5461af !important;
    margin-bottom: 40px
}

.padding-top-50 {
    padding-top: 50px !important
}

.padding-top-bottom-50 {
    padding: 50px 0 !important
}

.padding-top-bottom-30 {
    padding: 30px 0 !important
}

.bg-color-purple {
    background: url(../img/purple-bg2.png) bottom repeat-x #7b4e9f;
    color: #fff
}

.bg-color-purple2 {
    background: #7b4e9f
}

.bg-color-purple3 {
    background: url(../img/purple-bg3.png) top repeat-x #7f4e9a;
    color: #fff
}

.bg-color-light-blue {
    background: #B0B8DA;
    color: #fff
}

.bg-color-orange {
    background: #f2653d;
    color: #fff
}

.bg-color-orange h2 {
    color: #fff
}

.bg-color-orange .btn-primary {
    background: #7B4E9F
}

.btn-pink {
    background: #e64b9b;
}

.bg-color-orange .btn-primary:hover {
    color: #7B4E9F;
    background: #fff
}

.purple-text {
    color: #7B4E9F
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .img-intro {
        height: 280px;
        width: auto;
    }
    .btn-primary:last-child {
        margin: 4% auto 8%;
    }
    .img-responsive {
        padding: 0 10%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .img-intro {
        height: 280px;
        width: auto;
    }
    .btn-primary:last-child {
        margin: 4% auto 8%;
    }
    .img-responsive {
        padding: 0 10%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #call-to-action .pic-adjust {
        padding: 42px 0;
    }
    .btn-primary {
        width: 120px;
        margin: 20px 15px 40px 0;
        display: inline;
    }
    .tablet-padding-top1 {
        padding-top: 70px
    }
    #how-it-works .tablet-padding2,
    #built-to-protect .tablet-padding2 {
        margin-top: 50px !important;
    }
    #test-kit .padding-top,
    #download-app .padding-top {
        padding-top: 0px !important
    }
    #call-to-action h3 {
        padding-bottom: 30px
    }
    .img-intro {
        min-height: 400px !important;
        width: auto;
    }
    #intro .btn-container {
        margin-top: 30px
    }
}

@media ( max-width: 768px) {
    .tablet-hide {
        display: none
    }
    #call-to-action,
    #faqs,
    .faqs-subpage,
    #safeguard-health,
    #test-kit {
        padding: 10% 8% 5%;
    }
    #how-it-works,
    #download-app {
        padding: 11% 8% 0;
    }
    .mobile-appear {
        display: block !important;
    }
    .mobile-hide {
        display: none !important;
    }
    .mobile-center-content {
        text-align: center !important;
    }
    .btn-primary {
        padding: 8px 10px;
        margin: 0 auto;
        width: 500px;
    }
    .btn-container {
        text-align: center
    }
    .contact-details-footer a:first-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }
    .text-cut2::after {
        content: "\A";
        white-space: pre;
        clear: both
    }
    #call-to-action {
        background: #5364ae;
    }
    .brand-logo {
        background: #5363ad;
        padding: 25px 0px;
        margin: 0;
    }
    a.mobile-logo {
        background: url(../img/Pharmazam-logo-mobile.png) no-repeat top left;
        display: block;
        width: 200px;
        height: 29px;
        background-size: contain;
        float: left;
        position: absolute;
        left: 14px;
        top: 10px;
        z-index: 3;
    }
    .mobile-navbar-header {
        background: #fff;
        -webkit-box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.4);
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #intro h1 {
        font-size: 24px !important;
        line-height: 32px;
        margin: 0 0 20px
    }
    #intro .img-intro {
        min-height: 140px;
    }
    .mobile-center-content .number {
        margin: 20px auto 10px
    }
    .mobile-no-padding-sides {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mobile-padding-sides {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #faqs .mobile-row {
        border-bottom: 2px dotted #eee;
        margin-bottom: 30px !important
    }
    #faqs .mobile-row:last-child {
        border-bottom: none;
        margin-bottom: 0
    }
    #how-it-works .section-heading,
    #faqs .section-heading {
        font-size: 34px !important;
        margin-bottom: 10px
    }
    #how-it-works .section-subheading {
        margin: 0 0 10px;
        font-size: 20px !important
    }
    #faqs .section-subheading {
        margin: 0 0 30px;
        font-size: 20px !important
    }
    .mobile-copyright {
        width: 100% !important;
        text-align: center !important
    }
    .mobile-pull-right {
        padding: 0 8%;
        margin-right: -8%
    }
    .dotted-border {
        border-bottom: 2px dotted #9FAACC;
        padding-bottom: 40px;
        margin-bottom: 40px
    }
    .mobile-row .speech-bubble:first-child {
        margin-bottom: 15px
    }
    #call-to-action h3 {
        margin: 0;
    }
    .links-footer2 p {
        border: none
    }
    .links-footer3 .col-md-2 {
        color: #a9b1d6;
        text-align: center !important;
        margin: 1em 0
    }
    .header-spacer {
        height: 48px
    }
    .purple-bg {
        background: #7f4e9a;
        color: #fff
    }
    .purple-bg h1 {
        color: #fff
    }
    .blue-bg {
        background: #36468f;
    }
    .pink-bg {
        background: #be2b77;
    }
    .below-header h1,
    .below-header p {
        color: #fff
    }
    p {
        text-align: justify
    }
    .orange-bg {
        background: #ef613f
    }
    #bottom-cta h3 {
        text-align: center !important
    }
    h2 {
        line-height: 1.2
    }
    .hospitals-img-adjust {
        padding: 2.5em 2em 1em
    }
    .logo-footer {
        background: url(../img/Pharmazam-logo-footer.png) no-repeat top left;
        height: 29px;
        width: 259px;
        margin: 0 auto 20px;
    }
    .contact-details-footer {
        letter-spacing: 2px;
        color: #a9b1d6;
    }
    .info-footer p {
        text-align: center
    }
    .info-footer .footer-border-right {
        margin-bottom: 20px
    }
    .links-footer3 {
        text-align: center;
        margin-bottom: 10px
    }
    .contact-details-footer a {
        color: #a9b1d6;
        line-height: 1.5;
        font-size: 18px;
        text-align: center !important
    }
    .form-container {
        margin: 0 15px !important;
        display: block
    }
    .form-container #contact {
        padding: 5px;
    }
    .video-container {
        height: 420px;
        padding: 0;
        margin-top: 0px
    }
    .mobile-no-pm {
        padding: 0 !important;
        margin: 0 !important
    }
    .sol-desc {
        text-align: center
    }
    .sol-icons {
        padding-bottom: 17px !important;
        display: block
    }
    .app-list-container2 {
        margin: 0 15px
    }
    .app-list-container3 {
        margin: 0 15px 30px
    }
    .app-list-container2 .img-responsive {
        padding-top: 30px !important;
    }
    .app-list-padding {
        padding-top: 30px !important
    }
    .app-list-container3 {
        padding-top: 40px !important
    }
    .app-list-container2 .app-list {
        margin-left: 20px
    }
    .app-video-container {
        background: url(../img/app-img1.png) no-repeat top;
        background-size: contain;
        position: relative;
        height: 515px !important;
        width: 280px !important;
        margin: auto;
        padding: 0
    }
    .app-video-container video {
        position: absolute;
        width: 210px;
        height: 350px;
        top: 66px;
        left: 36px;
    }
    .setup-video-text {
        text-align: center;
        color: #fff;
        padding: 70px 50px 50px !important;
    }
}

@media ( min-width: 767px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .sol-desc {
        padding-top: 20px
    }

}

@media ( min-width: 769px) {
    .video-container {
        height: 474px;
        padding: 0;
        margin-top: 140px
    }
    .navbar-default li a {
        padding: 15px 20px;
    }
    .navbar-default li:first-child a {
        padding-left: 0;
    }
    .navbar-default li:last-child a {
        padding-right: 0;
    }
    .limit-width-nav {
        max-width: 1080px !important;
        margin: 0 auto;
        padding: 0
    }
    #call-to-action {
        padding: 60px 0;
    }
    #test-kit,
    #safeguard-health {
        padding: 60px 0 40px
    }
    #intro {
        padding: 0;
    }
    #how-it-works,
    #download-app {
        padding: 60px 0 0;
    }
    #faqs {
        padding: 40px 0 20px;
    }
    .faqs-subpage {
        padding: 40px 0 10px;
    }
    .mobile-appear {
        display: none !important;
    }
    .mobile-hide {
        display: block !important;
    }
    .brand-logo {
        width: 400px;
        height: 200px;
    }
    #call-to-action {
        background: url(../img/gradient-light-purple-bg.png) repeat-x top #5364ae;
        text-align: center;
        color: #fff;
    }
    .btn-primary {
        /*width: 120px;*/
        margin: 20px 15px 0 0;
    }
    .dotted-border {
        background: url(../img/dotted-border.png) repeat-y right;
    }
    .padding-left {
        padding-left: 30px;
    }
    .padding-left2 {
        padding-left: 60px;
    }
    .padding-right {
        padding-right: 30px;
    }
    .padding-right2 {
        padding-right: 40px;
    }
    .padding-top {
        padding-top: 40px;
    }
    .padding-top1 {
        padding-top: 20px;
    }
    .padding-top2 {
        padding-top: 100px;
    }
    .padding-top30 {
        padding-top: 30px;
    }
    .no-padding-sides {
        padding-left: 0;
        padding-right: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    .align-right {
        text-align: right !important;
    }
    .align-right .btn-primary:last-child {
        margin-right: 0 !important;
    }
    .float-md-right {
        float: right !important;
        margin-right: 0 !important;
    }
    #how-it-works .section-heading,
    #faqs .section-heading {
        font-size: 48px;
    }
    #how-it-works .section-subheading,
    #faqs .section-subheading {
        font-size: 22px;
        margin: 0 0 20px;
    }
    #call-to-action h3 {
        font-size: 40px;
    }
    .text-cut::after {
        content: "\A";
        white-space: pre;
    }
    #intro h1 {
        font-size: 34px !important;
        line-height: 46px;
    }
    #intro .img-intro {
        min-height: 350px;
    }
    #built-to-protect {
        padding-top: 40px;
        padding-bottom: 0
    }
    #built-to-protect .col-md-8 img {
        padding-top: .5em
    }
    #built-to-protect .section-heading {
        width: 120% !important;
    }
    #call-to-action .pic-adjust {
        padding: 30px 0 0;
    }
    .links-footer2 {
        padding: 1em 0;
    }
    .links-footer2 a,
    .links-footer2 p {
        float: none;
        border: none;
        display: block
    }
    .app-phone {
        padding-left: 30px
    }
    .margin-top {
        margin-top: 0
    }
    .dotted-border {
        min-height: 500px
    }
    #call-to-action .phones img {
        padding-top: 40px
    }
    #call-to-action .pic-adjust {
        padding: 60px 0 0;
    }
    #call-to-action .col-md-4 {
        position: relative;
        min-height: 500px
    }
    #call-to-action .action-links {
        position: absolute;
        bottom: 0;
        height: 180px;
        width: 100%;
        left: 5%;
    }
    .header-top {
        background: rgba(55, 65, 133, 1);
        background: -moz-linear-gradient(top, rgba(55, 65, 133, 1) 0%, rgba(44, 52, 105, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55, 65, 133, 1)), color-stop(100%, rgba(44, 52, 105, 1)));
        background: -webkit-linear-gradient(top, rgba(55, 65, 133, 1) 0%, rgba(44, 52, 105, 1) 100%);
        background: -o-linear-gradient(top, rgba(55, 65, 133, 1) 0%, rgba(44, 52, 105, 1) 100%);
        background: -ms-linear-gradient(top, rgba(55, 65, 133, 1) 0%, rgba(44, 52, 105, 1) 100%);
        background: linear-gradient(to bottom, rgba(55, 65, 133, 1) 0%, rgba(44, 52, 105, 1) 100%);
        // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#374185', endColorstr='#2c3469', GradientType=0);
    }
    .logo-sm-container {
        vertical-align: middle;
        display: table-cell;
        padding: 1.5em 0 2em;
        text-align: center
    }
    .logo-sm {
        width: 80%;
    }
    .header-contact {
        margin: 2.5em 0;
        text-align: right
    }
    .header-contact a {
        color: #fff;
        letter-spacing: 2px;
        padding: 0 2em
    }
    .header-contact a:hover {
        text-decoration: none;
        color: #adb4e2
    }
    .header-contact a:first-child {
        border-right: 1px solid #fff
    }
    .header-top .social {
        margin-top: 2em
    }
    /*#hero-about-us .col-md-10 {
        height: 500px;
    }*/
    .hero-container {
        height: 700px;
        position: relative
    }
    .hero-container .text-overlay {
        color: #fff;
        position: absolute;
        bottom: 0;
        background-size: contain;
        padding: 10px 0
    }
    .hero-container .text-overlay h1 {
        color: #fff
    }
    #hero-solutions .text-overlay,
    #hero-contact-us .text-overlay,
    #hero-unions .text-overlay,
    #hero-app .text-overlay,
    #hero-get-tested .text-overlay,
    #test-kit-container {
        background: url(../img/purple-bg.png);
        background-size: contain
    }
    #bottom-cta .btn {
        margin: 2% 0 0 2%
    }
    .get-tested-pink-bg .text-overlay,
    #hero-about-us .text-overlay,
    #hero-why-pharmazam .text-overlay,
    #hero-physicians .text-overlay,
    #hero-insurance-and-payers .text-overlay,
    #hero-self-insured-companies .text-overlay {
        background: url(../img/pink-bg.png);
        background-size: contain
    }
    #hero-medical-director .text-overlay,
    #hero-solutions2 .text-overlay {
        background: url(../img/blue-bg.png);
        background-size: contain
    }
    #hero-pharmacies .text-overlay,
    #hero-hospitals .text-overlay {
        background: url(../img/orange-bg2.png);
        background-size: contain
    }
    .get-tested-pink-bg h1,
    .get-tested-pink-bg p,
    #test-kit-container h1,
    #test-kit-container p {
        color: #fff
    }
    .medical-director-photo {
        margin: -650px 0 100px
    }
    .medical-director-photo img {
        border: 1px solid #fff;
    }
    .negative-margin-100 {
        margin-bottom: -100px
    }
    .orange-bg {
        background: url(../img/orange-bg.png) top repeat-x #af492d;
        background-size: contain
    }
    #bottom-cta h3,
    #bottom-cta .btn {
        float: left
    }
    .hospitals-img-adjust {
        margin-top: -313px
    }
    .app-image-adjust {
        margin: -115px 0 -170px;
        padding: 5vw
    }
    .app-bg-margin-bottom {
        margin-bottom: 50px
    }
    h2 {
        line-height: 1.2
    }
    h1.style3 {
        color: #fff;
        font-size: 58px !important;
        text-align: center
    }
    h4.style1 {
        color: #fff;
        font-size: 22px !important;
        text-align: center;
        font-weight: normal
    }
    .off-set-image {
        margin-top: -100px
    }
    .test-kit-steps .col-md-4 {
        background: url(../img/get-tested-divider.png) no-repeat top right;
    }
    .FDA-btn {
        padding: 30px 0 0 !important;
    }
    .border-divider {
        border-top: 1px dotted #cbcbcb
    }
    .web-access-home {
        margin-top: 70px;
    }
    .links-footer3 {
        text-align: right !important
    }
    .links-footer3 a,
    .links-footer3 p {
        text-align: right !important;
        display: block;
    }
    .footer-border-right {
        border-right: 1px dotted #616b9f;
    }
    .logo-footer {
        background: url(../img/Pharmazam-logo-footer.png) no-repeat top left;
        background-size: contain;
        height: 22px;
        width: 200px;
        margin: 0 0 60px;
    }
    .contact-details-footer {
        letter-spacing: 2px;
        color: #a9b1d6;
    }
    .contact-details-footer a {
        font-size: 14px;
        color: #a9b1d6;
        line-height: 1.5
    }
    #login-subpages .padding-row {
        padding: 70px 0 50px !important;
    }
    .sol-desc {
        padding: 40px 0 0 40px
    }
    .sol-icons {
        padding: 0 40px;
        margin-top: 10px;
        text-align: center
    }
    .header-contact a:last-child {
        padding-right: 5px
    }
    .header-contact a {
        font-size: 18px
    }
    .app-list-container3 .padding-adj {
        padding-top: 50px
    }
    .app-list-container3 img {
        margin-top: 50px
    }
    .app-list-padding {
        padding-top: 50px
    }
    .hero-container .text-overlay {
        width: 100%
    }
    .setup-video-page .header-spacer {
        height: 142px;
    }
    .setup-video-container {
        background: url(../img/setup-video-img1.jpg) center no-repeat #fff;
        background-size: contain;
        padding-bottom: 16.6%;
        padding-top: 11.5%
    }

    .box {
        position: relative;
        width: 41.6%;
        /* desired width */
        margin: auto;
    }
    .box:before {
        content: "";
        display: block;
        padding-top: 180%;
        /* initial ratio of 1:1*/
    }
    
    
   
}


/*@media (min-width: 1025px) and (max-width: 1249px) {
    video {
        display: none !important
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    video {
        display: none !important
    }
}*/

.ipad-video-link {
    display: none
}

@media ( min-width: 990px) {
    .setup-video-container {
        background: url(../img/setup-video-img1.jpg) center no-repeat #fff;
        background-size: contain;
        padding-bottom: 16.6%;
        padding-top: 11.5%
    }

    .box {
        position: relative;
        width: 41.6%;
        /* desired width */
        margin: auto;
    }
    .box:before {
        content: "";
        display: block;
        padding-top: 180%;
        /* initial ratio of 1:1*/
    }
    .patients-video-container {
        background: url(../img/solutions-img1.jpg) no-repeat top left;
        background-size: contain;
        position: relative;
        height: 450px !important;
        margin-top: 30px
    }
    .patients-video-container video {
        position: absolute;
        width: 318px;
        height: 188px;
        top: 111px;
        left: 72px;
        overflow: hidden
    }
    .app-video-container.app-image-adjust {
        background: url(../img/app-img1.png) no-repeat top;
        background-size: contain;
        position: relative;
        height: 660px;
        width: 100% !important;
        padding: 0
    }
    .app-video-container video {
        position: absolute;
        width: 262px;
        height: 450px;
        top: 83px;
        left: 74px;
    }
    .select-style {
        background: #fff url("../img/select-arrow.png") no-repeat 95% 50%;
    }
    .setup-video-text {
        color: #fff;
        padding: 3% 50px;
    }
}

@media ( min-width: 1026px) {
    .setup-video-text {
        color: #fff;
        padding: 8% 50px;
    }
    .logo-footer {
        background: url(../img/Pharmazam-logo-footer.png) no-repeat top left;
        height: 29px;
        width: 259px;
        margin: 0 0 60px;
    }
    .contact-details-footer {
        letter-spacing: 2px;
        color: #a9b1d6;
    }
    .contact-details-footer a {
        color: #a9b1d6;
        line-height: 1.5;
        font-size: 18px;
    }
    .logo-sm {
        width: 100%;
    }
    .limit-width {
        max-width: 1024px !important;
        margin: auto !important;
        float: none !important;
    }
    .col-md-push-1 {
        left: 0;
    }
    #call-to-action .pic-adjust {
        padding: 65px 0 0;
    }
    #intro h1 {
        font-size: 44px !important;
        line-height: 50px;
    }
    #intro .img-intro {
        min-height: 400px;
        margin-top: 40px
    }
    .md-extend {
        width: 110% !important
    }
    .links-footer3 a {
        text-align: center
    }
    .orange-bg h1,
    .pink-bg h1 {
        font-size: 56px !important
    }
    .text-overlay p {
        font-size: 1.5em
    }
    .test-kit-steps .col-md-4 {
        min-height: 420px;
        margin-bottom: 20px
    }
    .app-list li {
        font-size: 1.4em
    }
    .padding-adjust-bottom {
        padding-bottom: 50px
    }
    .test-kit-steps .img-padding {
        padding: 50px 0
    }
    .text-kit-overlap-container {
        background: url(../img/hero-get-tested2.png) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
    }
    .insurance-payers-overlap-container {
        background: url(../img/hero-insurance-and-payers2.png) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
    }
    #how-it-works .col-md-6.align-right.mobile-no-padding-sides {
        padding: 0 !important
    }
    .header-spacer {
        height: 138px
    }
    .video-container {
        height: 560px;
        padding: 0;
        margin: 0;
    }
    .app-list-container3 {
        margin-top: 150px
    }
    .app-list-container3 .padding-adj {
        padding-top: 100px
    }
    .app-list-container3 img {
        margin-top: -100px
    }
    .app-list-container2 ul {
        margin: 0 0 0 60px;
        color: #fff
    }
    .app-list-padding {
        padding-top: 150px
    }
    .navbar-default li a {
        padding: 15px 22px;
    }
    
}

@media (min-width: 1250px) {
    .navbar-default li a {
        padding: 15px 24px;
    }
    .navbar-default li:first-child a {
        padding-left: 0;
    }
    .navbar-default li:last-child a {
        padding-right: 0;
    }
    .patients-video-container {
        background: url(../img/solutions-img1.jpg) no-repeat top left;
        background-size: contain;
        position: relative;
        height: 550px !important;
    }
    .patients-video-container video {
        position: absolute;
        width: 388px;
        height: 238px;
        top: 135px;
        left: 90px;
    }
    .app-image-adjust {
        margin: -315px 0 -180px;
        padding: 0
    }
    .app-video-container {
        background: url(../img/app-img1.png) no-repeat top;
        background-size: contain;
        position: relative;
        height: 860px !important;
        width: 100% !important;
        padding: 0
    }
    .app-video-container video {
        position: absolute;
        width: 351px;
        height: 580px;
        top: 112px;
        left: 73px;
    }
    .faq-title h1 {
        margin-left: -15px
    }
}

@media (max-width: 320px) {
    #intro .video-container {
        height: 170px !important;
        padding: 0;
        margin-top: 0px
    }
}

@media (max-width: 420px) {
    .reduce-img {
        width: 50% !important;
    }
    .btn-primary {
        width: 100%;
    }
    .btn-primary {
        font-size: 18px !important
    }
    /*.row > div[class*="col-"] > div[class*="col-"] {
        padding: 0 !important;
    }*/
    #how-it-works .limit-width,
    #how-it-works > div[class*="col-"] {
        padding: 0 !important
    }
    #built-to-protect .col-md-4.padding-top1 {
        padding: 0 8px !important
    }
    .video-container {
        height: 230px;
        padding: 0;
        margin-top: 0px
    }
    .app-list-container2 .app-list {
        margin-left: 0
    }
    .setup-video-text a {
        width: 85%;
        margin-bottom: 50px !important
    }
    .setup-video-container {
       
        padding-bottom: 40%;
        padding-top: 21.5%;
        
    }
    .box {
        position: relative;
        width: 26% !important;
        /* desired width */
        margin: auto;
    }
    .box:before {
        content: "";
        display: block;
        padding-top: 180%;
        /* initial ratio of 1:1*/
    }
     .setup-video-page .row.bg-col-pink2 {
        margin: 0 -30px !important;
        padding: 0 !important;
     }
     .setup-video-text {
        text-align: center;
        color: #fff;
        padding: 8% 10% !important;
    }
}


@media (max-width: 375px) {
    .video-container {
        height: 210px !important;
        padding: 0;
        margin-top: 0px
    }

}

@media (max-width: 769px) {
    #built-to-protect .col-md-8.padding-top1.tablet-padding.tablet-padding2 {
        padding: 0 !important
    }
    .btn-primary:last-child {
        margin: 20px auto;
    }
    #bottom-cta .bottomAd-img {
        display: none
    }
    .reduce-img {
        width: 30%;
    }
    .text-s-center {
        text-align: center !important
    }
    #bottom-cta {
        margin-top: 0px !important;
    }
    .mobile-no-padding {
        padding: 0 !important
    }
    .medical-director-photo.mobile-no-padding {
        margin: -1.3em 0 0
    }
    .medical-director-photo.mobile-no-padding img {
        margin: 0 !important;
        width: 100%
    }
    #how-it-works .tablet-padding,
    #built-to-protect .tablet-padding {
        padding-top: 0px !important;
    }
    #download-app .tablet-padding,
    #test-kit .tablet-padding {
        padding-top: 0px !important;
    }
    .btn-primary {
        font-size: 20px;
    }
    .row-eq-height {
        padding: 0 !important
    }
    .row-eq-height img {
        padding: 0 !important;
        margin: 0 !important;
    }
    .solutions2-subpage h3 {
        margin: 0;
        font-size: 18px;
        line-height: 1.4
    }
    .solutions2-subpage .btn {
        width: 50%;
        margin-bottom: 10px
    }
    .sol-spacer {
        padding: 0 !important;
        display: block
    }
    .setup-video-container {
        background: url(../img/setup-video-img1.jpg) center no-repeat #fff;
        background-size: contain;
        padding-bottom: 26.6%;
        padding-top: 18.5%;
        
    }
    .box {
        position: relative;
        width: 43% !important;
        /* desired width */
        margin: auto;
    }
    .box:before {
        content: "";
        display: block;
        padding-top: 180%;
        /* initial ratio of 1:1*/
    }

}

@media (max-width: 991px) {
    a.mobile-logo {
        background: url(../img/Pharmazam-logo-mobile.png) no-repeat top left;
        display: block;
        width: 200px;
        height: 29px;
        background-size: contain;
        float: left;
        position: absolute;
        left: 14px;
        top: 10px;
        z-index: 3;
    }
    .navbar-header {
        float: none;
    }
    .header-top {
        display: none
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .login-container label {
        margin: 20px 0 5px !important
    }
    #login-subpages .padding-row {
        padding: 10px 0 20px !important;
        box-shadow: 3px 0px 50px rgba(0, 0, 0, 0.3);
    }
    .contact-form-container {
        padding: 20px
    }
    .select-style {
        background: #fff url("../img/select-arrow.png") no-repeat 98% 50%;
    }
}

@media (max-width: 1025px) {
    .below-header h1 {
        font-size: 38px !important
    }
    #bottom-cta h3 {
        text-align: left;
        font-size: 1.2em;
        line-height: 1.3em
    }
    #bottom-cta .btn {}
    .how-it-works-subpage #bottom-cta img {
        margin-top: -100px;
        padding: .8em;
        height: 80%;
        width: 80%
    }
    .about-us-subpage #bottom-cta img,
    .medical-director-subpage #bottom-cta img {
        margin-top: -65px;
    }
    .solutions-subpage #bottom-cta img {
        margin-top: -90px;
    }
    .solutions2-subpage .sol-desc h3 {
        font-size: 20px !important
    }
}

.navbar-default .nav > li .dropdown-toggle {
    color: #5364ae;
    outline: none;
    font-size: 18px;
    padding: 15px 18px;
    border: none;
    background: none;
    font-weight: 700
}

.navbar-default .nav > li .dropdown-menu {
    background: #5364ae;
    border-radius: 3px;
    padding: 0;
}

.navbar-default .nav > li .dropdown-menu li {
    background: #5364ae;
}

.navbar-default .nav > li .dropdown-menu a {
    color: #fff !important;
    outline: none;
    font-size: 16px;
    padding: 5px 18px
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #e74b9c;
}

.align-center {
    text-align: center
}

#call-to-action .phones img {
    width: 80%
}


/*=======HOW IT WORKS PAGE STYLES=======*/

#hero-how-it-works-page {
    background: url(../img/hero-how-it-works-bg.jpg) top repeat-x #19254b;
    text-align: center
}

#bottom-cta {
    margin-top: 100px;
    padding: 1.8em 0 0;
    background: url(../img/gradient-bg.png) top repeat-x
}

#bottom-cta .btn-primary {
    background: #e64b9b;
}

.padding-row {
    padding: 1.3em 0 !important;
}

.gradient-bg,
.faqs-subpage {
    background: url(../img/gradient-bg.png) repeat-x top;
}


/*=======ABOUT US PAGE STYLES=======*/

#hero-about-us {
    background: url(../img/hero-about-us.jpg) no-repeat center #fff;
    background-size: cover;
}


/*=======SOLUTIONS PAGE STYLES=======*/

#hero-solutions {
    background: url(../img/hero-solutions.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-solutions2 {
    background: url(../img/hero-solutions2.jpg) no-repeat center #3b37a2;
    background-size: cover;
}


/*=======MEDICAL DIRECTOR PAGE STYLES=======*/

#hero-medical-director {
    background: url(../img/hero-medical-director.jpg) no-repeat center #fff;
    background-size: cover;
}


/*=======WHY PHARMAZAM PAGE STYLES=======*/

#hero-why-pharmazam {
    background: url(../img/hero-why-pharmazam.jpg)no-repeat center #fff;
    background-size: cover;
}

#hero-physicians {
    background: url(../img/hero-physicians.jpg) no-repeat center #fff;
    background-size: cover;
}

.physicians-img4 {
    padding-left: 15px
}

#hero-contact-us {
    background: url(../img/hero-contact.jpg) no-repeat center #fff;
    background-size: cover;
}

.bg-color-purple-contact {
    padding: 100px 0 200px !important;
}

.bg-color-purple-contact .limit-width img {
    margin-bottom: 50px
}

.btn-style3 {
    background: #fff;
    color: #e64b9b
}

.btn-style3:hover {
    background: #e64b9b;
    color: #fff
}

.padding-top-15 {
    padding-top: 15px
}

.padding-top-30 {
    padding-top: 30px
}

.strong {
    font-weight: 900;
    font-family: 'futurastdbook';
    font-size: 1.3em
}

#hero-unions {
    background: url(../img/hero-unions.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-pharmacies {
    background: url(../img/hero-pharmacies.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-hospitals {
    background: url(../img/hero-hospitals.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-login {
    background: url(../img/hero-login.jpg) no-repeat center #2d3b72;
    background-size: cover;
    height: 350px !important;
    position: relative;
    box-shadow: 3px 0px 50px rgba(0, 0, 0, 0.5);
}

#hero-login .text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block
}

#hero-login h1 {
    color: #fff;
    padding: 15px 0 20px;
}

#hero-login .orange-overlay {
    background: url(../img/orange-bg3.png) !important;
    background-size: contain;
}

#hero-login .purple-overlay {
    background: url(../img/purple-bg4.png) !important;
    background-size: contain;
}

#hero-login .pink-overlay {
    background: url(../img/pink-bg4.png) !important;
    background-size: contain;
}

#hero-contact-form {
    background: url(../img/hero-contact-form.jpg) no-repeat center #f2f2f2;
    background-size: cover;
    height: 350px !important;
    position: relative;
    box-shadow: 3px 0px 50px rgba(0, 0, 0, 0.5);
}

#hero-contact-form .text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block
}

#hero-contact-form .white-overlay {
    background: url(../img/white-bg.png) !important;
    background-size: contain;
}

#hero-contact-form h1 {
    color: #5364AE;
    padding: 15px 0 20px;
}

#login-subpages form p {
    font-size: 12px;
    text-align: right;
    color: #fff;
    margin: 5px 0 0
}

#login-subpages form a {
    color: #fff;
    padding: 0 5px
}

#login-subpages form a:hover {
    color: #febc11;
    text-decoration: none
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 7px 15px;
    border: none;
    color: #000;
}

.login-container .btn-primary {
    margin: 25px 0;
    width: 100%;
    background: #232e6d
}

.login-container .btn-primary:hover {
    background: #384385;
    color: #fff;
}

.login-container label {
    font-size: 16px;
    font-family: 'FuturaStd-Light', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
}

ul.subpage-list {
    padding-left: 20px !important;
    margin-top: 3px;
    color: #5364ae
}

.subpage-list li {
    font-size: 18px;
    margin-bottom: 4px;
    color: #5364ae;
    list-style: none;
}

.subpage-list li:before {
    color: #5364ae;
    content: "•";
    font-size: 20px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 .5em 0 -1em;
}
ul.subpage-list3 {
    padding-left: 20px !important;
    margin-top: 3px;
    margin-bottom: 30px;
    color: #fff
}

.subpage-list3 li {
    font-size: 18px;
    margin-bottom: 4px;
    color: #fff;
    list-style: none;
}

.subpage-list3 li:before {
    color: #fff;
    content: "•";
    font-size: 20px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 .5em 0 -1em;
}

#hero-insurance-and-payers {
    background: url(../img/hero-insurance-and-payers.jpg) no-repeat center #fff;
    background-size: cover;
}
#hero-self-insured-companies {
    background: url(../img/hero-self-insured-companies.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-app {
    background: url(../img/hero-app.jpg) no-repeat center #fff;
    background-size: cover;
}

#hero-get-tested {
    background: url(../img/hero-get-tested.jpg) no-repeat center #fff;
    background-size: cover;
    overflow: hidden
}

.blue-text {
    color: #5364ae;
    font-weight: 900 !important;
    font-family: 'futurastdbook', helvetica, arial
}

.test-kit-steps {
    text-align: center;
}

.test-kit-steps .col-md-4,
.test-kit-steps .col-md-8,
.test-kit-steps .col-md-12 {
    text-align: center;
    color: #5364ae;
    padding-top: 20px
}

.test-kit-steps .col-md-4:last-child {
    background: none
}

.pink-list {
    background: #E64B9B;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    font-size: 16px
}

.pink-list ul {
    padding-top: 10px
}

.pink-list li {
    margin-bottom: 2px
}

.pink-text {
    color: #E64B9B
}

.padding-top-20 {
    padding-top: 20px
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #bottom-cta .btn-primary {
        width: 180px;
        border: 1px solid red;
        margin-bottom: 40px !important;
        display: block
    }
    .padding-bottom-1024px {
        padding-bottom: 60px;
        border: 1px solid red
    }
    .padding-top-1024px {
        padding-top: 8%
    }
    .patients-video-container video {
        position: absolute;
        width: 318px;
        height: 188px;
        top: 113px;
        left: 79px;
        overflow: hidden
    }
}

.modal-content {
    margin: 200px auto 0
}

.modal-header {
    background: url(../img/purple-bg.png);
    background-size: contain;
}

.modal-header .close {
    color: #fff;
    opacity: .5
}

.modal-header h2 {
    color: #fff
}

a.btn:focus,
a.btn:hover,
a.btn:active {
    outline: none
}

strong {
    font-weight: bold
}

@media ( max-width: 1220px) {
    #how-it-works .tablet-padding,
    #built-to-protect .tablet-padding {
        padding-top: 170px !important;
    }
    #download-app .tablet-padding,
    #test-kit .tablet-padding {
        padding-top: 70px !important;
    }
}

.more-faqs-link {
    margin-bottom: 30px
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 0;
    border-radius: 15px;
}

#contact h2 {
    color: #5364ae;
    display: block;
    font-size: 42px;
    font-weight: 400;
}

#contact h3 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    color: #000;
    font-family: 'FuturaStd-Light', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #384086;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #e64b9b;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
}

#contact button[type="submit"]:hover {
    background: #7a48a0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #384086;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.select-style {
    padding: 0;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    width: 45%;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    color: #999;
    padding: 8px 15px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    .contact-details-footer a {
        float: left
    }
}

#intro .limit-width {
    padding: 0 !important
}


/* SOLUTIONS bg-color */

.sbg-color-pink {
    background: url(../img/shadow.png) top repeat-x #e74b9c;
}

.sbg-color-blue {
    background: url(../img/shadow.png) top repeat-x #5264ae;
}

.sbg-color-yellow {
    background: url(../img/shadow.png) top repeat-x #febc10;
}

.sbg-color-purple {
    background: url(../img/shadow.png) top repeat-x #7b4e9f;
}

.sbg-color-orange {
    background: url(../img/shadow.png) top repeat-x #f3653d;
}

.sbg-color-pink,
.sbg-color-blue,
.sbg-color-yellow,
.sbg-color-purple,
.sbg-color-orange {
    padding: 0;
}

.sbg-color-pink h1,
.sbg-color-blue h1,
.sbg-color-yellow h1,
.sbg-color-purple h1,
.sbg-color-orange h1 {
    color: #fff;
    font-size: 24px
}

.btn-blue {
    margin-top: 0;
    background: #384385;
    color: #fff;
}

.btn-blue:hover {
    background: #fff;
    color: #384385;
}

.solutions2-subpage h3 {
    margin: 0;
    line-height: 1.4
}

.row-eq-height img {
    padding: 0
}

.sbg-color-pink h3 {
    color: #F6C0DC;
}

.sbg-color-blue h3 {
    color: #C3C9E3
}

.sbg-color-yellow h3 {
    color: #FFF2CF
}

.sbg-color-purple h3 {
    color: #D1C1DD
}

.sbg-color-orange h3 {
    color: #FAC9BB
}


/*.row-eq-height > [class*="sbg-color-"]  > [class*="col-"]:first-child {
      padding: 0 40px !important 
    }
*/

.row-eq-height {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sol-icons {
    text-align: center
}

.app-list-container2 {
    background: url(../img/shadow.png) top repeat-x #e74b9c;
    margin-top: 100px;
    padding-bottom: 50px;
    border-radius: 30px
}

.app-list-container2 img {
    margin-top: -100px
}

.app-list-container2 h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: 36px
}

.app-list-container3 h2 {
    text-align: left;
    letter-spacing: 1px;
    color: #fff;
    font-size: 36px
}

.app-list-container2 li,
.app-list-container3 li {
    color: #fff;
    font-size: 16px
}

.app-list-container2 li:before,
.app-list-container3 li:before {
    color: #fff;
    content: "•";
    font-size: 20px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 .5em 0 -1em;
}

.app-list-container3 {
    background: url(../img/shadow.png) top repeat-x #f3653d;
    padding-bottom: 30px;
    border-radius: 30px
}


/* Portrait */

@media (min-width: 740px) and (max-width: 768px) {
    .app-text-tablet-padding {
        border: 1px solid red;
        background: red !important
    }
}

.contact-form-container input {
    margin: 10px 0 !important
}

.contact-form-container .divider {
    border-top: 1px dotted #fff;
    margin: 30px 15px
}

.contact-form-container textarea {
    width: 100% !important;
    padding: 10px 15px;
    height: 300px;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    color: #000;
}

.contact-form-container .dotted-arrow {
    border-top: 1px dotted #fff;
    margin: 30px 0;
}

.contact-form-container .dotted-arrow img {
    float: right;
    margin-top: -8px;
    width: 15px
}

.contact-form-container .select-style {
    margin: 10px 0;
    width: 100%
}

.contact-form-container .select-style select {
    width: 100%
}

.contact-form-container .btn.btn-primary {
    margin: 10px 0
}

.subpage-list2 {
    padding-left: 20px;
    margin-bottom: 15px
}

.subpage-list2 li {
    font-size: 16px;
    margin-bottom: 4px;
    color: #898989;
    list-style: none;
}

.subpage-list2 li:before {
    color: #e64b9b;
    content: "•";
    font-size: 18px;
    vertical-align: middle;
    line-height: 22px;
    margin: 0 .5em 0 -1em;
}

.medical-director-subpage .padding-row {
    padding: 3.5em 0 !important
}

.setup-video-text h2 {
    color: #fff;
    font-size: 56px
}

.setup-video-text p {
    color: #fff;
    font-size: 1.5em;
}

#terms-text .col-md-12 {
    font-weight: .5em !important
}

.terms-subpage strong {
    text-transform: uppercase;
    font-weight: 700px !important;
    font-family: 'futurastdbook'
}

.btn-sample-report {
    background: #7b4e9f
}

.faqs strong {
    font-weight: 700px !important;
    font-family: 'futurastdbook';
    text-transform: none
}

.faqs .border {
    border-bottom: 2px dotted #b9bdc0;
    margin-bottom: 30px
}

.faq-title span {
    font-size: 18px;
}

.faq-title h1 {
    line-height: .5em !important;
    padding-top: 10px;
}

    .setup-video-container .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
.terms-list {
    list-style: none
}

.terms-list strong {
    text-transform: lowercase !important;
}

body.login-bg {
    background: #384385
}