---
title: Add an Illness or Condition
category: Medical History
color: orange
---

{{> innerHead}}
<main class="ph--main ph--main_inner  ph--content-shadow">
  <div class="ph--scrolled">
      <div class="ph--content">
        <div class="ph--content-inner">
          <form action="">
            <ul class="ph--form ph--form_vertical list-unstyled">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Name of Illness/Condition" value="Migraine Headache">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <textarea type="text" class="form-control ph--input btn-block text-center ph--description"
                    placeholder="Notes on Illness/Condition">Accompanied by high &#13;&#10; sensitivity to light and sound.</textarea>
                </div>
                
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Add to My Medical History</button>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
  </div>
</main>
{{> innerFooter}}
