---
title: A List of Your Illnesses & Conditions
category: Medical History
color: orange
---


{{> innerHead}}
<main class="ph--main ph--main_inner  ph--content-shadow">
  <div class="ph--scrolled">
        <div class="ph--content">
            <div class="ph--content-inner shadow_small shadow_small-after">
                <ul class="ph--form ph--form_vertical list-unstyled">
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add an Illness or Condition</a>
                    </li>
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">I Have Nothing to Add</a>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</main>
{{> innerFooter}}