---
title: A List of Your Current Medications
category: Medical History
color: orange
---


{{> innerHead}}
<main class="ph--main ph--main_inner  ph--content-shadow">
  <div class="ph--scrolled">
        <div class="ph--content">
            <div class="ph--content-inner shadow_small shadow_small-after">
                <ul class="ph--form ph--form_vertical list-unstyled">
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add to My Medical History</a>
                    </li>
                </ul>
            </div>
            <ul class="ph--medication-list list-unstyled shadow_small shadow_small-after">
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Add to My Medical History
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Hearty Arrhythmia
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Viscidosis 
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info"></span>
                    <a href="/" class="ph--medication-item shadow_small">
                        Pulmonary abscess
                    </a>
                    
                </li>
            </ul>
    </div>
  </div>
</main>
{{> innerFooter}}