{{> accountHead}}
<main class="ph--main ph--main_account ph--content-shadow">
  <div class="ph--scrolled">
      <div class="tab-content ph--account-wrap">
        <div role="tabpanel" class="tab-pane active" id="profile">{{> accountProfile}}</div>
        <div role="tabpanel" class="tab-pane" id="meds">{{> accountMeds}}</div>
        <div role="tabpanel" class="tab-pane" id="report">{{> accountReport}}</div>
      </div>
    </div>
</main>
<footer class="ph--footer">
  <div class="ph--footer-icons">
    <a href="/" class="ph--footer-question">
      <span class="svg" data-svg="icon-question"></span>
    </a>
  </div>
</footer>
