---
title: Enter New User’s Login Information
category: Change Users
color: phi
---
 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content">
        <form action="">
          <div class="ph--content-inner shadow_small">
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input" placeholder="Username">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control ph--input" placeholder="Password">
                    <span class="input-group-btn">
                        <button class="btn btn-ph btn-ph_blue" type="button">Go</button>
                      </span>
                  </div>
                </div>
              </li>
              <li>
                <a href="/" class="btn-ph btn-ph_blue btn btn-block">New? Register Here</a>
              </li>
              <li>
                <a href="/" class="btn-ph btn-ph_blue btn btn-block">I Forgot My Password</a>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Email Me a Verification</button>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
