
<main class="ph--main position position_center-XY">
  <span class="svg svg_main" data-svg="main">{{> iconMain}}</span>
</main>
<footer class="ph--footer">
  <form action="post" class="ph--login form">
    <div class="form-group">
      <input type="text" class="form-control ph--input" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="password" class="form-control ph--input" placeholder="Username">
        <span class="input-group-btn">
            <button class="btn btn-ph btn-ph_blue" type="button">Go</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
    <nav class="ph--login-nav">
      <ul class="list-unstyled">
        <li>
          <a href="/">Register </a>
        </li>
        <li></li>
        <li>
          <a href="/">Forgot Password</a>
        </li>
        <li></li>
        <li>
          <a href="/">Send Verification</a>
        </li>
      </ul>
    </nav>
  </form>
</footer>
