---
title: My Lifestyle
category: Your Current Lifestyle Details
color: phi
---
{{> innerHead}}
<main class="ph--main ph--main_inner">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content ph--content-shadow">
        <form action="">
          <div class="ph--content-inner shadow_small shadow_small-after">
            <h4 class="ph--fieldset-label">Food</h4>
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Soy:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Citrus:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Protein:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Fiber:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Chocolate:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Cheese:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Sour Cream:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Yogurt:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Fruit:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Egg:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Tofu:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Salmon:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Nuts/Seeds:">
                </div>
              </li>
            </ul>
          </div>
          <div class="ph--content-inner shadow_small shadow_small-after">
            <h4 class="ph--fieldset-label">Beverages</h4>
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Milk:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Soda:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Tea:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Coffee:">
                </div>
              </li>
            </ul>
          </div>
          <div class="ph--content-inner shadow_small shadow_small-after">
            <h4 class="ph--fieldset-label">Recreation</h4>
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Alcohol:">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Smoking:">
                </div>
              </li>
            </ul>
          </div>
          <div class="ph--content-inner shadow_small shadow_small-after">
            <h4 class="ph--fieldset-label">Exercise</h4>
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Aerobic Frequency">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Strength Training Frequency">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Sports Training Frequency">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Flexibility Training Frequency">
                </div>
              </li>
            </ul>
          </div>
          <div class="ph--content-inner">
            <h4 class="ph--fieldset-label">Profession</h4>
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Are You a Pilot?">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Are You a Pro Athlete?">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Are You a College Athlete?">
                </div>
              </li>
              <li class="ph--form-spacer"></li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Save Lifestyle Information</button>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
