---
title: Email a Report
category: Send A Report
color: rose
---
{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content">
        <form action="">
          <div class="ph--content-inner shadow_small">
            <ul class="ph--form ph--form_vertical list-unstyled ">
              <li>
                <div class="form-froup">
                  <input type="email" class="form-control ph--input btn-block text-center" placeholder="Email Address" />
                </div>
              </li>
              <li>
                <div class="form-froup">
                  <input type="email" class="form-control ph--input btn-block text-center" placeholder="Confirm Email Address" />
                </div>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Send Report Now</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
