---
title: Drug to Gene Details 
category: My Warnings
color: rose
---
{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
    <div class="ph--scrolled-inner">
      <div class="ph--content">
        <form action="">
            <ul class="ph--messages list-unstyled">
                <li class="ph--messages-item">
                        <h3>
                            Severe Confilict  <br>
                            with Ibuprofen
                        </h3>
                        <h5 class="ph--messages-warn">
                            Gene - CYP2C24 <br>
                            Severity - High
                        </h5>
                        <div class="ph--messages-description">
                            Message -Consider an alternative drug, or consider prescribing amitriptyline at standard dose and monitor the plasma concentrations of amitriptyline and nortriptyline to guide dose adjustments.
                        </div>
                </li>
                <li class="ph--messages-item">
                        <h3>
                            Severe Confilict  <br>
                            with Ibuprofen
                        </h3>
                        <h5 class="ph--messages-warn">
                            Gene - CYP2C24 <br>
                            Severity - High
                        </h5>
                        <div class="ph--messages-description">
                            Message -Consider an alternative drug, or consider prescribing amitriptyline at standard dose and monitor the plasma concentrations of amitriptyline and nortriptyline to guide dose adjustments.
                        </div>
                </li>
                <li class="ph--messages-item">
                        <h3>
                            Severe Confilict  <br>
                            with Ibuprofen
                        </h3>
                        <h5 class="ph--messages-warn">
                            Gene - CYP2C24 <br>
                            Severity - High
                        </h5>
                        <div class="ph--messages-description">
                            Message -Consider an alternative drug, or consider prescribing amitriptyline at standard dose and monitor the plasma concentrations of amitriptyline and nortriptyline to guide dose adjustments.
                        </div>
                </li>
                <li class="ph--messages-item">
                        <h3>
                            Severe Confilict  <br>
                            with Ibuprofen
                        </h3>
                        <h5 class="ph--messages-warn">
                            Gene - CYP2C24 <br>
                            Severity - High
                        </h5>
                        <div class="ph--messages-description">
                            Message -Consider an alternative drug, or consider prescribing amitriptyline at standard dose and monitor the plasma concentrations of amitriptyline and nortriptyline to guide dose adjustments.
                        </div>
                </li>
            </ul>
        </form>
      </div>
    </div>
  </div>
</main>
{{> innerFooter}}
