<div class="ph--content">
    <div class="ph--nav">
        <a class="btn ph--nav-bar ph--nav-bar_yellow ph--nav-bar_check">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-zoom"></span>
            </span>
           Check Medication
        </a>
        <a class="btn ph--nav-bar ph--nav-bar_rose ph--nav-bar_warning">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-warning"></span>
            </span>
            My Warnings
        </a>
    </div>
    <div class="ph--nav shadow_small">
        <h4>Check Meds for Someone Else...</h4>
        <a class="btn ph--nav-bar ph--nav-bar_phi ph--nav-bar_change">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-person"></span>
            </span>
            Change Users
        </a>
        <a class="btn ph--nav-bar ph--nav-bar_blue ph--nav-bar_family">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-family"></span>
            </span>
            Family Sharing
        </a>

    </div>
</div>