<div class="ph--content">
    <div class="ph--nav">
        <a class="btn ph--nav-bar ph--nav-bar_rose ph--nav-bar_basic">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-sheet-notes"></span>
            </span>
            Send Basic Report
        </a>
        <a class="btn ph--nav-bar ph--nav-bar_crimson ph--nav-bar_advanced">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-sheet-hp"></span>
            </span>
            Send Advanced Report
        </a>
        <a class="btn ph--nav-bar ph--nav-bar_phi ph--nav-bar_profile">
            <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-sheet-person"></span>
            </span>
            Send My Profile Report
        </a>
    </div>
</div>