<header class="ph--header">
  <div class="ph--account" data-current="#profile">
    <span class="svg ph--account-logo" data-svg="pharma-logo">{{> iconLogo}}</span>
    <div class="ph--account-nav">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
          <a class="ph--account-pill ph--account-pill_profile" href="#profile">My Profile</a>
        </li>
        <li role="presentation" class="">
          <a class="ph--account-pill ph--account-pill_meds" href="#meds">Check Meds</a>
        </li>
        <li role="presentation" class="">
          <a class="ph--account-pill ph--account-pill_report" href="#report">Send Report</a>
        </li>
      </ul>
    </div>
    <div class="ph--account-name shadow">
      Johnathan W. Doe <small>(750 PTS)</small>
    </div>
  </div>
</header>
