<div class="ph--content ">
  <div class="ph--dna-helper">
    <div class="ph--nav">
      <a class="btn ph--nav-bar ph--nav-bar_gray ph--nav-bar_dna">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-dna"></span>
        </span>
        Test Results Codes
      </a>
    </div>
    <div class="ph--dna-form shadow_small">
      <ul class="nav nav-tabs hidden" role="tablist">
        <li role="presentation" class="active">
          <a class="" href="#step1"></a>
        </li>
        <li role="presentation" class="">
          <a class="" href="#step2"></a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="step1">
          <ul class="ph--form ph--form_vertical list-unstyled ">
            <li>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control ph--input" placeholder="DNA Results Code" value="CODE123">
                  <span class="input-group-btn">
                      <button class="btn btn-ph btn-ph_blue" type="button">Go!</button>
                    </span>
                </div>
                <div class="ph--dna-result">
                  Johnathan W. Doe
                  <br>DNA Test Results: 5.21.2017
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control ph--input" placeholder="Allergy Results Code">
                  <span class="input-group-btn">
                    <button class="btn btn-ph btn-ph_blue" type="button">Go!</button>
                </span>
                </div>
                <div class="ph--dna-result"></div>
              </div>
            </li>
            <li class="text-center">
              <button type="button" class="btn-ph btn-ph_blue btn next" data-next="#step2">Done</button>
            </li>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="step2">
          <ul class="ph--form ph--form_vertical list-unstyled ">
            <li>
              <div class="ph--dna-result text-center">
                Please Enter <br> Your Date of Birth <br> to Verify Results
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control ph--input datetimepicker" data-view="years" data-format="MM/DD/YYYY" placeholder="MM/DD/YYYY"
                    data-vertical="top">
                    <span class="input-group-btn">
                      <button class="btn btn-ph btn-ph_blue" type="button">Go!</button>
                    </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ph--dna-slide">
      <a class="btn ph--nav-bar ph--nav-bar_yellow ph--nav-bar_medication">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-pill"></span>
        </span>
        My Medication
      </a>
      <a class="btn ph--nav-bar ph--nav-bar_orange ph--nav-bar_history">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-hp"></span>
        </span>
        Medical History
      </a>
      <a class="btn ph--nav-bar ph--nav-bar_rose ph--nav-bar_allergies">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-not-allowed"></span>
        </span>
        Allergies
      </a>
      <a class="btn ph--nav-bar ph--nav-bar_phi ph--nav-bar_lifestyle">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-man"></span>
        </span>
        My Lifestyle
      </a>
      <a class="btn ph--nav-bar ph--nav-bar_blue ph--nav-bar_contact">
        <span class="ph--nav-сircle">
                <span class="svg" data-svg="icon-lines"></span>
        </span>
        Contact Info
      </a>
    </div>
  </div>
</div>
