<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/modernizr-2.6.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap3-typeahead.js"></script>
<script src="/js/app.js"></script>

