 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled position position_center-XY">
      <div class="ph--content ">
      </div>
  </div>
</main>
<div class="ph-modal modal_check">
    <sapn class="modal--close">x</sapn>
    <div class="modal--content">
        <div class="modal--scrolled">
            <div class="modal--text">
                Before You Can<br>
                Check Medications<br>
                You Must First <br>
                Complete All of <br>
                the Sections of Your <br>
                ‘My Profile’ Page.
            </div>
            <div class="modal--image modal--image_doctor modal--image_inversed"></div>
        </div>
    </div>
</div>