 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled position position_center-XY">
      <div class="ph--content ">
      </div>
  </div>
</main>
<div class="ph-modal modal_get-started">
    <sapn class="modal--close">x</sapn>
    <div class="modal--content">
        <div class="modal--scrolled">
            <div class="modal--text">
                To Get Started, <br>
                Please Fill Out <br>
                the ‘My Profile’ Page. <br>
                Need Help? Just Tap <br>
                the Small Question Mark <br>
                at the Bottom left <br>
                of Any Page!
            </div>
            <div class="modal--image modal--image_doctor"></div>
        </div>
    </div>
</div>