 {{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled position position_center-XY">
      <div class="ph--content ">
      </div>
  </div>
</main>
<div class="ph-modal modal_update">
    <sapn class="modal--close">x</sapn>
    <div class="modal--content">
        <div class="modal--scrolled">
            <div class="modal--text">
                Looks Like You<br>
                 Haven’t Updated Your<br>
                the ‘My Profile’ Page. <br>
                Profile in Awhile.<br>
                Don’t Forget to Keep<br>
                Your Information<br>
                Current so the App <br>
                Can Keep You Safe!
            </div>
            <div class="modal--image modal--image_doctor modal--image_inversed"></div>
        </div>
    </div>
</div>