<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- styles -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {{> css}}

  <title>{{page}}</title>
</head>

<body>
  <style>
    /*.ph {
      margin: 0 auto;
      position: relative;
      width: 590px;
      height: 960px;
    }*/
  </style>
  <div class="container-fluid">
    <div class="col-xs-3">
      <h1>List of pages</h1>
      <ul>
        <li><a href="/account.html">Profile</a></li>
        <li><a href="/lifestyle.html">lifestyle</a></li>
        <li><a href="/contactInfo.html">Contact Information</a></li>
        <li><a href="/changeUser.html">Change Users</a></li>
        <li><a href="/sendReport.html">Send Report</a></li>
        <li><a href="/warnings.html">Warnings</a></li>
        <li>
          <h4>My medication</h4>
          <ul>
            <li><a href="/myMedication/list_empty.html">list_empty</a></li>
            <li><a href="/myMedication/list.html">list</a></li>
            <li><a href="/myMedication/addNew.html">addNew</a></li>
            <li><a href="/myMedication/addNew_filled.html">addNew filled</a></li>
            <li><a href="/myMedication/edit.html">Edit</a></li>
            <li><a href="/myMedication/addAlarms.html">AddAlarms</a></li>
            <li><a href="/myMedication/addAlarms_set.html">Edit Alarms</a></li>
            <li><a href="/myMedication/addAlarms_done.html">Done Alarms</a></li>
          </ul>
        </li>
        <li>
          <h4>allergies</h4>
          <ul>
            <li><a href="/allergies/list_empty.html">list_empty</a></li>
            <li><a href="/allergies/list.html">list</a></li>
            <li><a href="/allergies/addNew.html">addNew</a></li>
            <li><a href="/allergies/addNew_filled.html">addNew filled</a></li>
            <li><a href="/allergies/addNew_edit.html">Edit</a></li>
          </ul>
        </li>
        <li>
          <h4>history</h4>
          <ul>
            <li><a href="/history/list_empty.html">list_empty</a></li>
            <li><a href="/history/list.html">list</a></li>
            <li><a href="/history/addNew.html">addNew</a></li>
            <li><a href="/history/addNew_filled.html">addNew filled</a></li>
          </ul>
        </li>
        <li>
          <h4>Family Sharing</h4>
          <ul>
            <li><a href="/familySharing/share_empty.html">Family Sharing empty</a></li>
            <li><a href="/familySharing/share_add.html">Family Sharing add</a></li>
            <li><a href="/familySharing/share_add_filled.html">Family Sharing add filled</a></li>
            <li><a href="/familySharing/list.html">Family list</a></li>
            <li><a href="/familySharing/share_edit.html">Family Sharing edit</a></li>
          </ul>
        </li>
        <li>
          <h4>Check Medication</h4>
          <ul>
            <li><a href="/checkMedication/details.html">Drug to Gene Details</a></li>
            <li><a href="/checkMedication/compitability.html">Ibuprofen Compatibility</a></li>
            <li><a href="/checkMedication/check.html">What Drug Would You Like</a></li>
            <li><a href="/checkMedication/dosage.html">What Dosage</a></li>
            <li><a href="/checkMedication/checking.html">Checking</a></li>
          </ul>
        </li>
        <li>
          <h4>Modals</h4>
          <ul>
            <li><a href="/modals/get_started.html">Get started</a></li>
            <li><a href="/modals/update.html">Update</a></li>
            <li><a href="/modals/check.html">Check</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-9">
      <div class="ph">
        <div class="ph--wrapper">
          {{> body}}
        </div>
      </div>
    </div>
  </div>
  {{> scripts}}
</body>

</html>
