---
title: Edit Allergen
category: My Allergies
color: rose
---

{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
      <div class="ph--content ">
        <div class="ph--content-inner">
          <form action="">
            <ul class="ph--form ph--form_vertical list-unstyled">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control ph--input btn-block text-center" placeholder="Name of Allergen" value="Amoxicillin">
                </div>
              </li>
              <li class="ph--form-spacer"></li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Save Edits to Allergen</button>
              </li>
              <li>
                <button class="btn-ph btn-ph_blue btn btn-block">Remove This Allergen</button>
              </li>
              <li>
                <button type="reset" class="btn-ph btn-ph_light-blue btn btn-block">Cancel</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
  </div>
</main>
{{> innerFooter}}
