---
title: A List of Your Allergies
category: My Allergies
color: rose
---

{{> innerHead}}
<main class="ph--main ph--main_inner ph--content-shadow">
  <div class="ph--scrolled">
        <div class="ph--content ">
            <div class="ph--content-inner shadow_small shadow_small-after">
                <ul class="ph--form ph--form_vertical list-unstyled">
                    <li>
                        <a href="/" class="btn-ph btn-ph_blue btn btn-block">Add Allergy to List</a>
                    </li>
                </ul>
            </div>
            <ul class="ph--medication-list list-unstyled shadow_small shadow_small-after">
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info-rose"></span>
                    <a href="/allergies/addNew_edit.html" class="ph--medication-item shadow_small">
                        Amoxicillin
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info-rose"></span>
                    <a href="/allergies/addNew_edit.html" class="ph--medication-item shadow_small">
                        Aspirin
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info-rose"></span>
                    <a href="/allergies/addNew_edit.html" class="ph--medication-item shadow_small">
                        Sulfadrugs 
                    </a>
                    
                </li>
                <li>
                    <span class="svg ph--medication-info" data-svg="icon-info-rose"></span>
                    <a href="/allergies/addNew_edit.html" class="ph--medication-item shadow_small">
                        Penicillin
                    </a>
                </li>
            </ul>
        </div>
  </div>
</main>
{{> innerFooter}}